<app-navbar [navLight]="true" [navRight]="true"/>
 <section class="home-slider position-relative">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="bg-half-170 d-table w-100" style="background: url('/assets/images/bg/blog-bg01.jpg') top;">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading">
                                    <a [routerLink]="[]" class="heading text-white title-dark h4">Top 10 Things to <br> See and Do in Northern Norway</a>
                                
                                    <ul class="list-inline mt-4 mb-0">
                                        <li class="list-inline-item me-3"><i class="uil uil-user text-white h5 mb-0"></i><a [routerLink]="[]" class="text-white-50 h6"> Mr. Donald Ruffy</a></li>
                                        <li class="list-inline-item text-white-50 h6 me-3"><i class="uil uil-calender h5 text-white title-dark"></i> 13th March 2024</li>
                                        <li class="list-inline-item text-white-50 h6"><i class="uil uil-clock h5 text-white title-dark"></i> 8 min read</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <div class="bg-half-170 d-table w-100" style="background: url('/assets/images/bg/blog-bg02.jpg') top;">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading">
                                    <a [routerLink]="[]" class="heading text-white title-dark h4">Best Love Songs: <br> Romantic Songs of All Time</a>
                                
                                    <ul class="list-inline mt-4 mb-0">
                                        <li class="list-inline-item me-3"><i class="uil uil-user text-white h5 mb-0"></i><a (click)="$event.preventDefault()" class="text-white-50 h6"> Mr. Donald Ruffy</a></li>
                                        <li class="list-inline-item text-white-50 h6 me-3"><i class="uil uil-calender h5 text-white title-dark"></i> 5th May 2024</li>
                                        <li class="list-inline-item text-white-50 h6"><i class="uil uil-clock h5 text-white title-dark"></i> 8 min read</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <div class="bg-half-170 d-table w-100" style="background: url('/assets/images/bg/blog-bg03.jpg') top;">
                    <div class="bg-overlay"></div>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg-12 text-center">
                                <div class="title-heading">
                                    <a [routerLink]="[]" class="heading text-white title-dark h4">Discover the Hidden <br> Links Between Music and Food</a>
                                
                                    <ul class="list-inline mt-4 mb-0">
                                        <li class="list-inline-item me-3"><i class="uil uil-user text-white h5 mb-0"></i><a (click)="$event.preventDefault()" class="text-white-50 h6"> Mr. Donald Ruffy</a></li>
                                        <li class="list-inline-item text-white-50 h6 me-3"><i class="uil uil-calender h5 text-white title-dark"></i> 19th June 2021</li>
                                        <li class="list-inline-item text-white-50 h6"><i class="uil uil-clock h5 text-white title-dark"></i> 8 min read</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</section>

 <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    <div class="col-lg-12 mb-4 pb-2 picture-item">
                        <div class="card blog blog-primary shadow rounded overflow-hidden">
                            <div class="image position-relative overflow-hidden">
                                <img [src]="'/assets/images/blog/01.jpg'" class="img-fluid" alt="">

                                <div class="blog-tag">
                                    <a [routerLink]="[]" class="badge text-bg-light">Corporate</a>
                                </div>
                            </div>

                            <div class="card-body content">
                                <a [routerLink]="'/blog-detail-five'" class="h5 title text-dark d-block mb-0">Building Your Corporate Identity from Starty</a>
                                <p class="text-muted mt-2 mb-2">The most well-known dummy text is the 'Lorem Ipsum', in the 16th century.</p>
                                <a [routerLink]="'/blog-detail-five'" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column-2 mb-4">
                    <div *ngFor="let item of blogData" class="mb-3">
                        <div class="card blog blog-primary shadow rounded overflow-hidden">
                            <div class="image position-relative overflow-hidden">
                                <img [src]="item.image" class="img-fluid" alt="">

                                <div class="blog-tag">
                                    <a [routerLink]="[]" class="badge text-bg-light">Branding</a>
                                </div>
                            </div>

                            <div class="card-body content">
                                <a [routerLink]="['/blog-detail-five',item.id]" class="h5 title text-dark d-block mb-0">{{item.title}}</a>
                                <p class="text-muted mt-2 mb-2">{{item.desc}}</p>
                                <a [routerLink]="['/blog-detail-five',item.id]" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" [routerLink]="[]" aria-label="Previous">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" [routerLink]="[]">1</a></li>
                            <li class="page-item"><a class="page-link active" [routerLink]="[]">2</a></li>
                            <li class="page-item"><a class="page-link" [routerLink]="[]">3</a></li>
                            <li class="page-item">
                                <a class="page-link" [routerLink]="[]" aria-label="Next">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <app-blog-sidebar/>
            </div>
        </div>
    </div>
</section>

<app-footer-four/>