 <header id="topnav" class="defaultscroll sticky" [ngClass]="scroll ? 'nav-sticky' : ''">
    <div class="container">
        <a class="logo" [routerLink]="'/'">
            <span class="logo-light-mode">
                <img [src]="'assets/images/logo-dark.png'" class="l-dark" alt="">
                <img [src]="'assets/images/logo-light.png'" class="l-light" alt="">
            </span>
            <img [src]="'assets/images/logo-light.png'" class="logo-dark-mode" alt="">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" [routerLink]="[]" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">                    
            <li class="list-inline-item ps-1 mb-0">
                <a href="https://1.envato.market/starty" target="_blank">
                    <div class="btn btn-primary">Download</div>
                </a>
            </li>
        </ul>

        <div id="navigation">
            <ul class="navigation-menu nav-light nav-right" id="navmenu-nav">
                <li class="has-submenu" [ngClass]="currentSection === 'home' ? 'active' : ''">
                    <a [routerLink]="[]" (click)="scrollToSection('home')">Home</a>
                </li>
                <li class="has-submenu" [ngClass]="currentSection === 'services' ? 'active' : ''">
                    <a [routerLink]="[]" (click)="scrollToSection('services')">Features</a>
                </li>
                <li class="has-submenu" [ngClass]="currentSection === 'review' ? 'active' : ''">
                    <a [routerLink]="[]" (click)="scrollToSection('review')">Review</a>
                </li>
                <li class="has-submenu" [ngClass]="currentSection === 'contact' ? 'active' : ''">
                    <a [routerLink]="[]" (click)="scrollToSection('contact')">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>
