<section class="bg-home d-flex align-items-center" style="background: url('/assets/images/cta05.png') center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <img [src]="'assets/images/svg/404.svg'" style="max-width: 500px;" alt="">
                <div class="text-uppercase mt-4 display-5 fw-semibold">Page Not Found</div>
                <div class="text-capitalize text-dark mb-4 error-page"></div>
                <p class="text-muted para-desc mx-auto">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">  
                <a [routerLink]="'/'" class="btn btn-primary mt-4">Go To Home</a>
            </div>
        </div>
    </div>
</section>
