<app-navbar [navLight]="true" [navRight]="true"/>

<section class="bg-half-170 d-table w-100" style="background: url('assets/images/bg/blog01.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
                    <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in Grid Layouts</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row g-4">
            <div *ngFor="let item of blogData" class="col-lg-4 col-md-6">
                <div class="card blog blog-primary shadow rounded overflow-hidden">
                    <div class="image position-relative overflow-hidden">
                        <img [src]="item.image" class="img-fluid" alt="">

                        <div class="blog-tag">
                            <a [routerLink]="[]" class="badge text-bg-light">{{item.category}}</a>
                        </div>
                    </div>

                    <div class="card-body content">
                        <a [routerLink]="['/blog-detail-one', item.id]" class="h5 title text-dark d-block mb-0">{{item.title}}</a>
                        <p class="text-muted mt-2 mb-2">{{item.desc}}</p>
                        <a [routerLink]="['/blog-detail-one', item.id]" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item">
                        <a class="page-link" [routerLink]="[]" aria-label="Previous">
                            <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" [routerLink]="[]">1</a></li>
                    <li class="page-item"><a class="page-link active" [routerLink]="[]">2</a></li>
                    <li class="page-item"><a class="page-link" [routerLink]="[]">3</a></li>
                    <li class="page-item">
                        <a class="page-link" [routerLink]="[]" aria-label="Next">
                            <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-footer-five/>
