<footer class="footer footer-light bg-light">
    <div class="py-5 footer-border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="section-title">
                        <div class="d-flex align-items-center">
                            <i class="uil uil-envelope-star display-4"></i>
                            <div class="flex-1 ms-md-4 ms-3">
                                <h4 class="fw-bold title-dark mb-1">Subscribe to our newsletters</h4>
                                <p class="text-muted mb-0">Sign up and receive the latest tips via email.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mt-sm-0">
                    <div class="text-md-end ms-5 ms-sm-0">
                        <a [routerLink]="[]" class="btn btn-primary">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a [routerLink]="[]" class="logo-footer">
                                <img [src]="'assets/images/logo-dark.png'" height="28" alt="">
                            </a>
                            <p class="mt-4 text-foot">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0">
                                <li *ngFor="let item of social" class="list-inline-item" style="margin: 0 2px !important;"><a [href]="item.link" target="_blank" class="rounded"><i [ngClass]="item.icon" title="Buy Now"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-4 col-12 order-1 order-md-2">
                                    <h6 class="footer-head">Company</h6>
                                    <ul class="list-unstyled footer-list mt-4">
                                        <li *ngFor="let item of linkOne"><a [routerLink]="item.link" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> {{item.title}}</a></li>
                                    </ul>
                                </div>
                                
                                <div class="col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 order-2 order-md-3">
                                    <h6 class="footer-head">Usefull Links</h6>
                                    <ul class="list-unstyled footer-list mt-4">
                                        <li *ngFor="let item of linkTwo"><a [routerLink]="item.link" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> {{item.title}}</a></li>
                                    </ul>
                                </div>
        
                                <div class="col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 order-3 order-md-4">
                                    <h6 class="footer-head">Resources</h6>
                                    <ul class="list-unstyled footer-list mt-4">
                                        <li *ngFor="let item of linkThree"><a [routerLink]="item.link" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> {{item.title}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-py-30 footer-bar bg-light">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <p class="mb-0 text-muted">{{year}} © Starty. Design & Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

