<app-navbar [navRight]="true"/>

 <section class="bg-half-170">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="title-heading">
                    <ul class="list-inline">
                        <li class="list-inline-item me-3"><i class="uil uil-user h5 mb-0"></i><a [routerLink]="[]" class="text-primary h6"> Mr. Donald Ruffy</a></li>
                        <li class="list-inline-item text-muted h6 me-3"><i class="uil uil-calender h5 text-dark"></i> {{data?.date ? data?.date : '19th June 2024'}}</li>
                        <li class="list-inline-item text-muted h6"><i class="uil uil-clock h5 text-dark"></i> 8 min read</li>
                    </ul>

                    <h5 class="heading fw-semibold page-heading">{{data?.title ? data?.title : 'Capsule Wardrobe Essentials The Leopard Print Coat'}}</h5>

                    <nav aria-label="breadcrumb" class="d-inline-block mt-4">
                        <ul class="breadcrumb p-0 mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="'/'">Starty</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="'/blog-grid'">BLog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Single Post</li>
                        </ul>
                    </nav>
                </div>

                <div id="grid" class="row mt-4">
                    <div *ngFor="let item of portfolioImg" class="col-lg-4 col-md-4 col-12 spacing picture-item">
                        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
                            <div class="card-img position-relative">
                                <img [src]="item" class="img-fluid" alt="">
                                <div class="card-overlay"></div>

                                <div class="pop-icon">
                                    <lightgallery>
                                        <a [href]="item" class="btn btn-pills btn-icon lightbox"><i class="uil uil-search"></i></a>
                                    </lightgallery>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <p class="text-muted"><span class="dropcaps display-4 text-dark me-2">T</span>he most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script. The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                    <p class="text-muted mb-0">Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. If the fill text is intended to illustrate the characteristics of different typefaces, it sometimes makes sense to select texts containing the various letters and symbols specific to the output language.</p>
                
                    <blockquote class="text-center mx-auto blockquote"><i class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"></i> The man who comes back through the door in the wall will never be quite the same as the man who went out. <small class="d-block text-muted mt-2">- Starty Template</small></blockquote>
                
                    <p class="text-muted">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories.</p>
                </div>

                <div class="card shadow rounded border-0 mt-4">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Comments :</h5>
                
                        <ul class="media-list list-unstyled mt-5 mb-0">
                            <li class="mt-4">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <a class="pe-3" [routerLink]="[]">
                                            <img [src]="'assets/images/client/01.jpg'" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                        </a>
                                        <div class="commentor-detail">
                                            <h6 class="mb-0"><a [routerLink]="[]" class="text-dark media-heading">Lorenzo Peterson</a></h6>
                                            <small class="text-muted">13th March 2024 at 01:00 pm</small>
                                        </div>
                                    </div>
                                    <a [routerLink]="[]" class="text-muted"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="mt-3">
                                    <p class="text-muted fst-italic p-3 bg-light rounded">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                            </li>
                
                            <li class="mt-4">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <a class="pe-3" [routerLink]="[]">
                                            <img [src]="'assets/images/client/02.jpg'" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                        </a>
                                        <div class="commentor-detail">
                                            <h6 class="mb-0"><a href="javascript:void(0)" class="media-heading text-dark">Tammy Camacho</a></h6>
                                            <small class="text-muted">5th May 2024 at 09:00 am</small>
                                        </div>
                                    </div>
                                    <a [routerLink]="[]" class="text-muted"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="mt-3">
                                    <p class="text-muted fst-italic p-3 bg-light rounded">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                            </li>
                            
                            <li class="mt-4">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <a class="pe-3" [routerLink]="[]">
                                            <img [src]="'assets/images/client/03.jpg'" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                        </a>
                                        <div class="commentor-detail">
                                            <h6 class="mb-0"><a [routerLink]="[]" class="media-heading text-dark">Tammy Camacho</a></h6>
                                            <small class="text-muted">19th June 2024 at 10:00 am</small>
                                        </div>
                                    </div>
                                    <a [routerLink]="[]" class="text-muted"><i class="mdi mdi-reply"></i> Reply</a>
                                </div>
                                <div class="mt-3">
                                    <p class="text-muted fst-italic p-3 bg-light rounded">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                </div>
                
                                <ul class="list-unstyled ps-4 ps-md-5 sub-comment">
                                    <li class="mt-4">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <a class="pe-3" [routerLink]="[]">
                                                    <img [src]="'assets/images/client/01.jpg'" class="img-fluid avatar avatar-md-sm rounded-circle shadow" alt="img">
                                                </a>
                                                <div class="commentor-detail">
                                                    <h6 class="mb-0"><a [routerLink]="[]" class="text-dark media-heading">Lorenzo Peterson</a></h6>
                                                    <small class="text-muted">20th June 2024 at 01:25 pm</small>
                                                </div>
                                            </div>
                                            <a [routerLink]="[]" class="text-muted"><i class="mdi mdi-reply"></i> Reply</a>
                                        </div>
                                        <div class="mt-3">
                                            <p class="text-muted fst-italic p-3 bg-light rounded">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="card shadow rounded border-0 mt-4">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Leave A Comment :</h5>
                
                        <form class="mt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Your Comment</label>
                                        <textarea id="message" placeholder="Your Comment" rows="5" name="message" class="form-control" required=""></textarea>
                                    </div>
                                </div>
                
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Name <span class="text-danger">*</span></label>
                                        <input id="name" name="name" type="text" placeholder="Name" class="form-control" required="">
                                    </div>
                                </div>
                
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                        <input id="email" type="email" placeholder="Email" name="email" class="form-control" required="">
                                    </div>
                                </div>
                
                                <div class="col-md-12">
                                    <div class="send d-grid">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <app-blog-sidebar-two/>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title fw-semibold mb-3">Related News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <div class="tiny-three-item">
                    <div *ngFor="let item of blogData2" class="tiny-slide">
                        <div class="card blog blog-primary shadow rounded overflow-hidden m-2">
                            <div class="image position-relative overflow-hidden">
                                <img [src]="item.image" class="img-fluid" alt="">

                                <div class="blog-tag">
                                    <a [routerLink]="[]" class="badge text-bg-light">{{item.category}}</a>
                                </div>
                            </div>

                            <div class="card-body content">
                                <a [routerLink]="['blog-detail-one',item.id]" class="h5 title text-dark d-block mb-0">{{item.title}}</a>
                                <p class="text-muted mt-2 mb-2">{{item.desc}}</p>
                                <a [routerLink]="['/blog-detail-one',item.id]" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-five/>