<div class="row">
    <div *ngFor="let item of pricing" class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
        <div class="card border-0 shadow">
            <div class="p-4 border-bottom border-light">
                <h6 class="fw-semibold mb-3 text-uppercase">{{item.title}}</h6>
                <p class="text-muted mb-0">{{item.desc}}</p>

                <div class="d-flex my-4">
                    <span class="price h3 fw-semibold mb-0">${{item.amount}}</span>
                    <span class="text-muted align-self-end mb-1">/mo</span>
                </div>

                <a [routerLink]="[]" class="btn btn-soft-primary w-100">Buy Now</a>
            </div>

            <div class="p-4">
                <h6 class="mb-3">Features:</h6>
                <ul class="mb-0 list-unstyled">
                    <li *ngFor="let el of item.feature" class="text-muted pt-1"><span class="h5 me-1" [ngClass]="el.color"><i class="uil uil-check-circle align-middle" [ngClass]="el.icon"></i></span> {{el.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
