<app-navbar/>

 <section class="home-slider position-relative">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="bg-home pb-md-0 d-flex align-items-center" style="background: url('/assets/images/shop/01.jpg') center">
                    <div class="bg-overlay bg-gradient-white-overlay"></div>
                    <div class="container">
                        <div class="row mt-5 mt-sm-0 align-items-center">
                            <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                                <div class="title-heading mt-4 position-relative">
                                    <h4 class="heading fw-bold mb-3 animated fadeInUpBig animation-delay-1">Simple <span class="position-relative text-type-element">Cotton</span> <br> T-Shirts</h4>
                                    <p class="text-muted title-dark mx-auto para-desc animated fadeInUpBig animation-delay-2">Our design Starty projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a [routerLink]="[]" class="btn btn-primary animated fadeInUpBig animation-delay-3">Explore Now</a>
                                    </div>

                                    <div class="position-absolute top-0 start-50 translate-middle">
                                        <img [src]="'/assets/images/shop/rounded-shape.png'" class="mover" alt="Starty" loading="lazy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="3000">
                <div class="bg-home pb-md-0 d-flex align-items-center" style="background: url('/assets/images/shop/02.jpg') top">
                    <div class="bg-overlay bg-gradient-white-overlay"></div>
                    <div class="container">
                        <div class="row mt-5 mt-sm-0 align-items-center">
                            <div class="col-lg-6 col-md-8">
                                <div class="title-heading mt-4 position-relative">
                                    <h4 class="heading fw-bold mb-3 animated fadeInUpBig animation-delay-1">Biggest <br> <span class="position-relative text-type-element">Collection</span> Ever</h4>
                                    <p class="text-muted title-dark mx-auto para-desc animated fadeInUpBig animation-delay-2">Our design Starty projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a [routerLink]="[]" class="btn btn-primary animated fadeInUpBig animation-delay-3">Shop Now</a>
                                    </div>

                                    <div class="position-absolute top-0 start-0 translate-middle">
                                        <img [src]="'/assets/images/shop/rounded-shape.png'" class="mover" alt="Starty" loading="lazy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
    </div>
</section>

<section class="section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-0">Most Viewed Products</h5>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of product" class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="card shop-list border-0">
                    <ul class="label list-unstyled mb-0">
                        <li *ngIf="item.tag === 'Featured'"><a [routerLink]="[]" class="badge text-bg-success rounded-lg">Featured</a></li>
                        <li *ngIf="item.tag === 'Sale'"><a [routerLink]="[]"  class="badge text-bg-dark rounded-lg">Sale</a></li>
                        <li *ngIf="item.tag === 'New'"><a [routerLink]="[]" class="badge text-bg-primary rounded-lg">New</a></li>
                    </ul>
                    <div class="shop-image position-relative overflow-hidden rounded shadow">
                        <a [routerLink]="['/shop-product-detail', item.id]"><img [src]="item.image1" class="img-fluid product-image" alt=""></a>
                        <a [routerLink]="['/shop-product-detail', item.id]" class="overlay-work">
                            <img [src]="item.image2" class="img-fluid" alt="">
                        </a>

                        <ul class="list-unstyled shop-icons">
                            <li><a [routerLink]="[]" class="btn btn-icon btn-pills btn-danger"><i data-feather="heart" class="icons"></i></a></li>
                            <li class="mt-1"><a [routerLink]="[]" class="btn btn-icon btn-pills btn-primary"><i data-feather="eye" class="icons"></i></a></li>
                            <li class="mt-1"><a [routerLink]="[]" class="btn btn-icon btn-pills btn-warning"><i data-feather="shopping-cart" class="icons"></i></a></li>
                        </ul>                                

                        <div class="qty-icons">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-pills btn-icon btn-primary minus">-</button>
                            <input min="0" name="quantity" value="0" type="number" class="btn btn-pills btn-icon btn-primary qty-btn quantity mx-1">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn btn-pills btn-icon btn-primary plus">+</button>
                        </div>
                    </div>
                    <div class="card-body content pt-4 p-2">
                        <a [routerLink]="['/shop-product-detail', item.id]" class="text-dark product-name h6">{{item.name}}</a>
                        <div class="d-flex justify-content-between mt-1">
                            <h6 class="text-muted small font-italic mb-0 mt-1">{{item.price}} </h6>
                            <ul class="list-unstyled text-warning mb-0">
                                <li *ngFor="let el of item.rate" class="list-inline-item" style="margin: 0 2px;"><i [ngClass]="el"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row g-4">
            <div *ngFor="let item of offerData" class="col-lg-6 col-md-6">
                <div class="shop-advertise rounded p-4 py-md-5 px-lg-5" [ngClass]="item.bg">
                    <div class="border border-2 rounded p-4 py-md-5 px-lg-4 me-lg-5">
                        <ul class="card list-unstyled mb-0">
                            <li><a [routerLink]="[]" class="h4 text-dark">{{item.title1}} <br> {{item.title2}}</a></li>

                            <li class="mt-4"><a [routerLink]="[]" class="text-secondary border-bottom">Shop now</a></li>
                        </ul>
                        <img [src]="item.image" class="img-fluid ad-image" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-0">Popular Products</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4 pt-2">
                <div class="tiny-four-item">
                    <div *ngFor="let item of popularProduct" class="tiny-slide">
                        <div class="card shop-list border-0">
                            <ul class="label list-unstyled mb-0">
                                <li *ngIf="item.tag === 'Featured'"><a [routerLink]="[]" class="badge text-bg-success rounded-lg">Featured</a></li>
                                <li *ngIf="item.tag === 'Sale'"><a [routerLink]="[]"  class="badge text-bg-dark rounded-lg">Sale</a></li>
                                <li *ngIf="item.tag === 'New'"><a [routerLink]="[]" class="badge text-bg-primary rounded-lg">New</a></li>
                            </ul>
                            <div class="shop-image position-relative overflow-hidden rounded shadow">
                                <a [routerLink]="['/shop-product-detail', item.id]"><img [src]="item.image1" class="img-fluid product-image" alt=""></a>
                                <a [routerLink]="['/shop-product-detail', item.id]" class="overlay-work">
                                    <img [src]="item.image2" class="img-fluid" alt="">
                                </a>
        
                                <ul class="list-unstyled shop-icons">
                                    <li><a [routerLink]="[]" class="btn btn-icon btn-pills btn-danger"><i data-feather="heart" class="icons"></i></a></li>
                                    <li class="mt-1"><a [routerLink]="[]" class="btn btn-icon btn-pills btn-primary"><i data-feather="eye" class="icons"></i></a></li>
                                    <li class="mt-1"><a [routerLink]="[]" class="btn btn-icon btn-pills btn-warning"><i data-feather="shopping-cart" class="icons"></i></a></li>
                                </ul>                                
        
                                <div class="qty-icons">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-pills btn-icon btn-primary minus">-</button>
                                    <input min="0" name="quantity" value="0" type="number" class="btn btn-pills btn-icon btn-primary qty-btn quantity mx-1">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn btn-pills btn-icon btn-primary plus">+</button>
                                </div>
                            </div>
                            <div class="card-body content pt-4 p-2">
                                <a [routerLink]="['/shop-product-detail', item.id]" class="text-dark product-name h6">{{item.name}}</a>
                                <div class="d-flex justify-content-between mt-1">
                                    <h6 class="text-muted small font-italic mb-0 mt-1">{{item.price}} </h6>
                                    <ul class="list-unstyled text-warning mb-0">
                                        <li *ngFor="let el of item.rate" class="list-inline-item" style="margin: 0 2px;"><i [ngClass]="el"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Latest Blog & News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>
        <app-blog-one/>
    </div>
</section>
 <app-shop-footer/>