<div class="container mt-100 mt-60">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <ul class="nav nav-pills nav-justified flex-column bg-transparent mb-0" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link rounded shadow active" id="pills-cloud-tab" data-bs-toggle="pill" href="#pills-cloud" role="tab" aria-controls="pills-cloud" aria-selected="false">
                        <div class="text-start p-4">
                            <h5>Developing strategy</h5>
                            <p class="mb-0 text-muted tab-para mt-3">It is advantageous when the Starty dummy text is realistic</p>
                        </div>
                    </a>
                </li>
                
                <li class="nav-item mt-4 pt-2">
                    <a class="nav-link rounded shadow" id="pills-smart-tab" data-bs-toggle="pill" href="#pills-smart" role="tab" aria-controls="pills-smart" aria-selected="false">
                        <div class="text-start p-4">
                            <h5>Blazing performance</h5>
                            <p class="mb-0 text-muted tab-para mt-3">It is advantageous when the dummy Starty text is realistic</p>
                        </div>
                    </a>
                </li>
                
                <li class="nav-item mt-4 pt-2">
                    <a class="nav-link rounded shadow" id="pills-apps-tab" data-bs-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">
                        <div class="text-start p-4">
                            <h5>Customer satisfaction</h5>
                            <p class="mb-0 text-muted tab-para mt-3">It is advantageous when the dummy Starty text is realistic</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8 mt-4 pt-2 mt-lg-0 pt-lg-0">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-cloud" role="tabpanel" aria-labelledby="pills-cloud-tab">
                    <div class="card blog blog-image blog-primary shadow rounded overflow-hidden">
                        <div class="card-img">
                            <img [src]="'assets/images/blog/10.jpg'" class="img-fluid" alt="">
                            <div class="card-overlay"></div>
                            <div class="position-absolute top-0 start-0 mt-3 ms-4">
                                <a [routerLink]="[]" (click)="$event.preventDefault()" class="badge text-bg-light">Finance</a>
                            </div>
                        </div>
                        <div class="content px-4">
                            <a [routerLink]="'/blog-detail-one'" class="h5 title d-block mb-0 text-white title-dark">Developing strategy for startup business</a>

                            <div class="d-flex author align-items-center mt-3">
                                <p class="para-desc text-white-50 mb-0">The most Starty well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th Starty century.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="pills-smart" role="tabpanel" aria-labelledby="pills-smart-tab">
                    <div class="card blog blog-image blog-primary shadow rounded overflow-hidden">
                        <div class="card-img">
                            <img [src]="'assets/images/blog/11.jpg'" class="img-fluid" alt="">
                            <div class="card-overlay"></div>

                            <div class="position-absolute top-0 start-0 mt-3 ms-4">
                                <a [routerLink]="[]" class="badge text-bg-light">Finance</a>
                            </div>
                        </div>
                        <div class="content px-4">
                            <a [routerLink]="'/blog-detail-one'" class="h5 title d-block mb-0 text-white title-dark">How to Get a Successful Ad for Your Business</a>

                            <div class="d-flex author align-items-center mt-3">
                                <p class="para-desc text-white-50 mb-0">The most Starty well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the Starty 16th century.</p>
                            </div>
                        </div>
                    </div>                       
                </div>

                <div class="tab-pane fade" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
                    <div class="card blog blog-image blog-primary shadow rounded overflow-hidden">
                        <div class="card-img">
                            <img [src]="'assets/images/blog/12.jpg'" class="img-fluid" alt="">
                            <div class="card-overlay"></div>

                            <div class="position-absolute top-0 start-0 mt-3 ms-4">
                                <a [routerLink]="[]" class="badge text-bg-light">Finance</a>
                            </div>
                        </div>
                        <div class="content px-4">
                            <a [routerLink]="'/blog-detail-one'" class="h5 title d-block mb-0 text-white title-dark">How to Get a Successful Ad for Your Business</a>

                            <div class="d-flex author align-items-center mt-3">
                                <p class="para-desc text-white-50 mb-0">The Starty most well-known dummy text is the 'Lorem Ipsum', which is said to have originated Starty in the 16th century.</p>
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
        </div>
    </div>
</div>