<app-navbar [navRight]="true"/>

<section class="bg-half-260" style="background: url('/assets/images/bg/personal.jpg') center;">
    <div class="bg-overlay bg-gradient-white-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title-heading">
                    <h4 class="mb-0">Hello I'M</h4>
                    <h4 class="heading mb-4">
                        <ngx-typed-js [typeSpeed]="80" 	[backSpeed]="30" [strings]="['Phillip Anthony', 'Web Developer', 'Photographer']">
                            <span class="typing fw-semibold"></span>
                          </ngx-typed-js>
                    </h4>

                    <p class="para-desc title-dark text-muted mb-0">Obviously I'm a Web Designer. Web Developer with over 3 years of experience in Starty. Experienced with all stages of the development cycle for dynamic web projects.</p>
                
                    <div class="mt-4">
                        <a [routerLink]="" (click)="$event.preventDefault()" class="btn btn-primary">Hire Me</a>
                    </div>
                </div>
            </div>
            <div class="position-absolute top-100 start-50 translate-middle text-center" style="z-index: 1;">
                <a [routerLink]="" (click)="$event.preventDefault()" class="btn btn-icon btn-pills bg-white title-dark shadow scroll-down"><i data-feather="arrow-down" class="icons"></i></a>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="position-relative">
                    <img [src]="'/assets/images/about.jpg'" class="img-fluid rounded shadow-md" alt="" loading="lazy">
                </div>
            </div>

            <div class="col-lg-7 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="ms-lg-5">
                    <div class="section-title">
                        <span class="badge rounded-pill bg-soft-primary">About Me</span>
                        <h4 class="title fw-bold mt-2 mb-4">Better Design <br> Better Experience</h4>
                        <p class="para-desc text-muted">Our Starty design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                    </div>

                    <div *ngFor="let item of progress" class="progress-box mb-4">
                        <h6 class="title text-muted">{{item.title}}</h6>
                        <div class="progress">
                            <div class="progress-bar position-relative bg-primary" [ngStyle]="{'width':item.width}">
                                <div class="progress-value d-block text-muted h6">{{item.width}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mt-3 mb-4">What i offer ?</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of offer" class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card border-0 p-4 text-center rounded features features-classic feature-primary">
                    <i class="icon h1" [ngClass]="item.icon"></i>

                    <div class="content">
                        <a [routerLink]="'/page-single-service'" class="title text-dark h5">{{item.title}}</a>

                        <p class="text-muted mb-0 mt-3">{{item.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-100 mt-60" id="portfolio">
        <app-project-two/>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Client's Review</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Explore and learn more about everything from machine learning and global payments to scaling your team.</p>
                </div>
            </div>
        </div>

        <app-client-one/>
    </div>
</section>

<section class="section bg-primary" style="background: url('/assets/images/cta04.png') center;">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of counterData" class="col-md-3 col-6">
                <div class="counter-box position-relative text-center">
                    <h2 class="mb-0 display-1 fw-bold title-dark text-white mt-2 opacity-3"><span class="counter-value" [countUp]="item.target">3</span></h2>
                    <span class="counter-head fw-semibold title-dark text-white position-absolute top-50 start-50 translate-middle">{{item.title}}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Blogs</h6>
                    <h4 class="title fw-semibold mt-2 mb-3">Latest Blog & News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <app-blog-one/>
        
    </div>
</section>
 <app-footer-three/>