<app-navbar [navLight]="true" [navRight]="true"/>

<section class="bg-home d-flex align-items-center seo-home">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center mt-0 mt-md-5 pt-0 pt-md-5">
                <div class="heading-title margin-top-100">
                    <h1 class="heading fw-semibold text-white title-dark mb-3">We build Digital products <br> for your Success</h1>
                    <p class="para-desc mx-auto text-white-50">Explore and Starty learn more about everything from machine learning and global payments to  scaling your team.</p>
                    <div class="subcribe-form mt-4 pt-2">
                        <form>
                            <div class="mb-3">
                                <input type="url" id="url" class="bg-white rounded-lg border opacity-7" required placeholder="https://shreethemes.in">
                                <button type="submit" class="btn btn-pills btn-primary">Get Started</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-9 col-md-10">
                        <div class="home-dashboard">
                            <img [src]="'assets/images/seo.png'" alt="" style="top: 0;" class="img-fluid" loading="lazy"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="position-relative">
    <div class="shape seo-hero overflow-hidden text-light"></div>
</div>

<section class="section mt-4" style="background: url('/assets/images/bg-shape.png') no-repeat right;">
    <div class="container">
        <app-partners/>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <span class="badge text-bg-primary rounded-lg">Services</span>
                    <h4 class="title mt-2 mb-4">Core Features</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Explore and learn more about Starty everything from machine learning and global payments to scaling your team.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div *ngFor="let item of features" class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card p-4 rounded features features-classic feature-primary">
                    <div class="fea-icon rounded bg-light shadow icon">
                        <i class="mb-0 text-primary" [ngClass]="item.icon"></i>
                    </div>
                    <div class="content mt-4">
                        <a [routerLink]="'/page-single-service'" class="title h5 text-dark">{{item.title}}</a>

                        <p class="text-muted mt-3">{{item.desc}}</p>
                    </div>

                    <a [routerLink]="'/page-single-service'">
                        <span class="text-dark">Read More <i class="uil uil-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <img [src]="'/assets/images/svg/coworking.svg'" class="img-fluid" alt="">
            </div>

            <div class="col-lg-7 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <span class="badge text-bg-primary rounded-lg">About Us</span>
                    <h4 class="title mt-2 mb-4">Why Our Agency ?</h4>
                    <p class="text-muted">Due Starty to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
                    <ul class="list-unstyled text-muted">
                        <li *ngFor="let item of about" class="mt-2"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>{{item}}</li>
                    </ul>
                    <a [routerLink]="'/page-aboutus'" class="btn btn-primary">About us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="bg-overlay bg-gradient-primary"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h4 class="title text-white title-dark mb-3">Get your free quote today?</h4>
                    <p class="para-desc mx-auto text-white-50">Explore and learn more about everything from machine learning and global payments to  scaling your team.</p>

                    <div class="subcribe-form mt-4 pt-2">
                        <form>
                            <div class="mb-3">
                                <input type="email" id="email" class="bg-white rounded-lg opacity-7" required placeholder="Type your mail id...">
                                <button type="submit" class="btn btn-pills btn-primary">Get Started</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Client's Review</h4>
                    <p class="text-muted para-desc mb-0 mx-auto">Explore and learn more about Starty everything from machine learning and global payments to scaling your team.</p>
                </div>
            </div>
        </div>

        <app-client-one/>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title mb-4 pb-2 text-center">
                    <h4 class="title mb-3">Frequently Asked Questions</h4>
                    <p class="text-muted mx-auto para-desc mb-0">Our design projects are fresh and simple Starty and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6 mt-4 pt-2">
                <img [src]="'assets/images/faqs.png'" class="img-fluid" alt="" loading="lazy">
            </div>

            <div class="col-md-6 mt-4 pt-2">
                <app-faq-two/>
            </div>
        </div>
    </div>
</section>

<app-footer-one [top]="true"/>