<header id="topnav" class="defaultscroll sticky" [ngClass]="scroll ? 'nav-sticky' : ''">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="px-lg-5 mx-lg-5">
                    <a class="logo" [routerLink]="'/'">
                        <img [src]="'assets/images/logo-dark.png'" height="28" alt="Starty" loading="lazy">
                    </a>
                    
                    <div class="menu-extras">
                        <div class="menu-item">
                            <a [routerLink]="[]"  class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <ul class="buy-button list-inline mb-0">                    
                        <li class="list-inline-item ps-1 mb-0">
                            <a href="https://1.envato.market/starty" target="_blank">
                                <div class="btn btn-primary">Download</div>
                            </a>
                        </li>
                    </ul>
            
                    <div id="navigation">
                        <ul class="navigation-menu nav-right" id="navmenu-nav">
                            <li class="has-submenu" [ngClass]="currentSection === 'home' ? 'active' : ''">
                                <a href="#home">Home</a>
                            </li>
                            <li class="has-submenu" [ngClass]="currentSection === 'demos' ? 'active' : ''">
                                <a href="#demos">Demos</a>
                            </li>
                            <li class="has-submenu" [ngClass]="currentSection === 'service' ? 'active' : ''">
                                <a href="#service">Features</a>
                            </li>
                            <li class="has-submenu" [ngClass]="currentSection === 'inner' ? 'active' : ''">
                                <a href="#inner">Inner pages</a>
                            </li>
                            <li class="has-submenu">
                                <a href="https://themeforest.net/item/starty-bootstrap-5-multipurpose-template/33324796/support" target="_blank">Support</a>
                            </li>
                            <li class="has-submenu">
                                <a href="https://forms.gle/QkTueCikDGqJnbky9" target="_blank">Hire us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
