<app-navbar [navLight]="true" [navRight]="false"/>

<section class="swiper-slider-hero position-relative d-block vh-100">
    <div class="swiper-container swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center overflow-hidden jarallax" data-jarallax='{"speed": 0.5}' style="background-image: url('assets/images/bg/busi01.jpg')">
                <div class="slide-inner slide-bg-image d-flex align-items-center" >
                    <div class="bg-overlay bg-linear-gradient"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="fw-semibold display-3 text-white title-dark mb-4">Build and Grow Your Business</h1>
                                    <p class="para-desc mx-auto text-white-50">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a [routerLink]="'/page-services'" class="btn btn-primary">See Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="swiper-slide d-flex align-items-center overflow-hidden jarallax" data-jarallax='{"speed": 0.5}' style="background-image: url('assets/images/bg/busi02.jpg')">
                <div class="slide-inner slide-bg-image d-flex align-items-center">
                    <div class="bg-overlay bg-linear-gradient"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="fw-semibold display-3 text-white title-dark mb-4">Take Care of Your Future</h1>
                                    <p class="para-desc mx-auto text-white-50">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a [routerLink]="'/page-services'" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide d-flex align-items-center overflow-hidden jarallax" data-jarallax='{"speed": 0.5}' style="background-image: url('/assets/images/bg/busi03.jpg')">
                <div class="slide-inner slide-bg-image d-flex align-items-center" data-jarallax='{"speed": 0.5}' >
                    <div class="bg-overlay bg-linear-gradient"></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading text-center">
                                    <h1 class="fw-semibold display-3 text-white title-dark mb-4">Let's Start With Starty</h1>
                                    <p class="para-desc mx-auto text-white-50">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                                    
                                    <div class="mt-4 pt-2">
                                        <a [routerLink]="'/page-services'" class="btn btn-primary">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next border rounded-circle text-center"></div>
        <div class="swiper-button-prev border rounded-circle text-center"></div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 order-1 order-md-2">
                <div class="features-absolute">
                    <div class="position-relative">
                        <img [src]="'assets/images/01.jpg'" class="img-fluid rounded shadow" alt="">
                        <div class="play-icon">
                            <a [routerLink]="[]" (click)="togggleModal($event)" class="play-btn lightbox">
                                <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-6 order-2 order-md-1">
                <div class="row g-4">
                    <div *ngFor="let item of aboutData" class="col-lg-6 col-12">
                        <div class="card features feature-primary">
                            <i class="icon h1 d-block" [ngClass]="item.icon"></i>
                            <a [routerLink]="'/page-single-service'" class="h5 title text-dark">{{item.title}}</a>
                            <p class="text-muted mt-2 mb-0">{{item.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <app-partners/>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-4 pb-2">
                <div class="section-title text-center">
                    <h6 class="text-primary">Our Skills</h6>
                    <h4 class="title fw-semibold mt-2 mb-3">We are a team of talented business & investment experts</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div *ngFor="let item of skill" class="col-md-6">
                <div class="progress-box">
                    <h6 class="text-muted fw-normal">{{item.title}}</h6>
                    <div class="progress position-relative">
                        <div class="progress-bar position-relative bg-primary" [ngStyle]="{'width': item.value}"></div>
                        <div class="progress-value d-block text-muted h6 fw-normal">{{item.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-100 mt-60">
        <app-team-one/>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row">
            <div *ngFor="let item of counterData" class="col-md-3 col-6">
                <div class="counter-box position-relative text-center">
                    <h2 class="mb-0 display-1 fw-bold title-dark mt-2 opacity-05"><span class="counter-value" [countUp]="item.value">3</span></h2>
                    <span class="counter-head fw-semibold title-dark position-absolute top-50 start-50 translate-middle">{{item.title}}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <app-pricing-three/>
    </div>
</section>

<section class="bg-half-170 jarallax" data-jarallax='{"speed": 0.5}' style="background: url('assets/images/bg/busi04.jpg') center;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="play-icon">
                    <a [routerLink]="[]" (click)="togggleModal($event)" class="play-btn lightbox">
                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <app-client-single-item/>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Blogs</h6>
                    <h4 class="title fw-semibold mt-2 mb-3">Latest Blog and News</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <app-blog-two/>
    </div>
</section>

<app-footer-four/>

<div class="modal" [ngClass]="isOpen ? 'd-block' : '' " style="background: #00000096;">
    <div class="d-flex align-items-center justify-content-center h-100">                    
        <div class="position-relative">
            <div class="position-absolute top-0  translate-middle z-index-1" style="right:-30px">
                <button type="button" class=" btn-pills btn-sm btn-light btn-close opacity-10" style="width: 20px; height: 20px;" (click)="togggleModal($event)" ></button>
            </div>
            <iframe
                src="https://www.youtube.com/embed/S_CGed6E610"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>