<app-navbar [navLight]="true" [navRight]="true"/>

 <section class="bg-half-170 d-table w-100" style="background: url('/assets/images/bg/about.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <small class="text-white-50 mb-1 fw-medium text-uppercase mx-auto">Who we are?</small>
                    <h5 class="heading fw-semibold mb-0 page-heading text-white title-dark">About Our Company</h5>
                </div>
            </div>
        </div>

        <div class="position-middle-bottom">
            <nav aria-label="breadcrumb" class="d-block">
                <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                    <li class="breadcrumb-item"><a [routerLink]="'/'">Starty</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <img [src]="'/assets/images/about.jpg'" class="img-fluid rounded shadow" alt="">
            </div>

            <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="title mb-3">We are a creative design studio!</h4>
                    <p class="text-muted">This Starty prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different Starty typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic so that the layout impression Starty of the final publication is not compromised.</p>
                    <ul class="list-unstyled text-muted mb-0">
                        <li *ngFor="let item of about" class="mb-0"><span class="text-dark h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>{{item}}</li>
                    </ul>                        
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center g-4">
            <div *ngFor="let item of feature" class="col-lg-4 col-md-6">
                <div class="card shadow p-4 rounded features features-classic feature-primary">
                    <i class="h1 mb-0 text-primary" [ngClass]="item.icon"></i>

                    <div class="content my-3 border-bottom">
                        <a [routerLink]="'/page-single-service'" class="title h5 text-dark">{{item.title}}</a>

                        <p class="text-muted mt-3">{{item.desc}}</p>
                    </div>

                    <a [routerLink]="'/page-single-service'" class="d-flex align-items-center justify-content-between">
                        <span class="fw-medium text-dark">Read More</span>
                        <i class="mdi mdi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 mt-100 mt-60">
        <div class="bg-half-260" style="background: url('assets/images/cta.jpg') top;">
            <div class="bg-overlay"></div>
            <div class="play-icon">
                <a [routerLink]="[]" (click)="togggleModal($event)" class="play-btn lightbox">
                    <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <app-client-single-item/>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <app-partners/>
    </div>

    <div class="container-fluid mt-100 mt-60">
       <app-team-one/>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row">
            <div *ngFor="let item of counterData" class="col-md-3 col-6">
                <div class="counter-box position-relative text-center">
                    <h2 class="mb-0 display-1 fw-bold title-dark mt-2 opacity-05"><span class="counter-value" [countUp]="item.value">3</span></h2>
                    <span class="counter-head fw-semibold title-dark position-absolute top-50 start-50 translate-middle">{{item.title}}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-five/>

<div class="modal" [ngClass]="isOpen ? 'd-block' : '' " style="background: #00000096;">
    <div class="d-flex align-items-center justify-content-center h-100">                    
        <div class="position-relative">
            <div class="position-absolute top-0  translate-middle z-index-1" style="right:-30px">
                <button type="button" class=" btn-pills btn-sm btn-light btn-close opacity-10" style="width: 20px; height: 20px;" (click)="togggleModal($event)" ></button>
            </div>
            <iframe
                src="https://www.youtube.com/embed/S_CGed6E610"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
