<div class="row">
    <div class="col-12">
        <div class="tiny-three-item">
            <div *ngFor="let item of clientData" class="tiny-slide">
                <div class="card border-0 text-center">
                    <div class="card-body">
                        <img [src]="item.image" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="" loading="lazy">
                        <p class="text-muted mt-4">{{item.desc}}</p>
                        <h6 class="text-primary">{{item.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
