<div class="row">
    <div *ngFor="let item of pricingData" class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="card shadow bg-white p-4 pt-5">
            <div *ngIf="item.tag === true" class="ribbon ribbon-right ribbon-primary overflow-hidden"><span class="text-center d-block shadow small h6">Best</span></div>
            <div class="text-center">
                <h4 class="fw-semibold mb-0">{{item.title}}</h4>

                <div class="d-flex justify-content-center my-4">
                    <span class="price display-5 fw-semibold mb-0">${{item.value}}</span>
                    <span class="text-muted align-self-end mb-1">/mo</span>
                </div>
                <p class="text-muted mb-0">{{item.desc}}</p>
            </div>

            <div class="p-4 mt-4 bg-soft-primary rounded shadow">
                <h6 class="mb-3">Features:</h6>
                <ul class="list-unstyled mb-3">
                    <li *ngFor="let el of item.features" class="text-muted mt-2"><span class=" h5 me-1" [ngClass]="el.icon === 'uil uil-times-circle' ? 'text-danger' : 'text-success'"><i class="align-middle" [ngClass]="el.icon"></i></span> {{el.title}}</li>
                </ul>

                <a [routerLink]="[]" class="btn btn-pills btn-primary">{{item.btn}}</a>
            </div>
        </div>
    </div>
</div>
