<section class="position-relative" style="background: url('/assets/images/bg/maintenance.jpg') center;">
    <div class="bg-overlay opacity-9"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="d-flex flex-column min-vh-100 px-md-5 py-5 px-4">
                    <div class="mt-md-5">
                        <a [routerLink]="'/'"><img [src]="'assets/images/logo-icon.png'" height="48" alt=""></a>
                    </div>
                    <div class="title-heading my-auto">
                        <h4 class="maintenance display-5 fw-bold mb-4">System is under maintenance</h4>
                        <p class="text-white-50 para-desc mb-4">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
    
                        <span id="maintenance" class="timer h1 text-white title-dark">{{minutes}} : {{remainingSeconds}}</span><span class="d-block h6 text-uppercase text-white-50">Minutes</span>
    
                    </div>
                    <div class="mb-md-5">
                        <span class="text-white-50 h6">Follow Now</span>
                        <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-2">
                            <li *ngFor="let item of social" class="list-inline-item" style="margin: 0 2px;"><a [href]="item.link" target="_blank" class="rounded"><i [ngClass]="item.icon" title="Buy Now"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
