<footer class="footer bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a [routerLink]="['/']" class="logo-footer">
                                <img [src]="'assets/images/logo-light.png'" height="26" alt="">
                            </a>
                            <p class="mt-4">Start working with Starty that can provide everything you need to generate awareness, drive traffic, connect.</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li *ngFor="let item of social" class="list-inline-item" style="margin: 0 2px;"><a [href]="item.link" target="_blank" class="rounded"><i [ngClass]="item.icon" title="Buy Now"></i></a></li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Company</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li *ngFor="let item of link1"><a [routerLink]="item.link" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> {{item.title}}</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Usefull Links</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li *ngFor="let item of link2"><a [routerLink]="item.link" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> {{item.title}}</a></li>
                            </ul>
                        </div>
    
                        <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="text-light footer-head">Start project with Starty</h5>

                            <ul class="list-unstyled footer-list mt-4 mb-2">
                                <li class="list-inline-item mx-1"><a [routerLink]="[]" class="btn btn-soft-primary">Signin</a></li>
                                <li class="list-inline-item mx-1"><a [routerLink]="[]" class="btn btn-primary">Signup</a></li>
                            </ul>
                            <small class="d-block">Are you developer ? <a href="#" class="text-foot fw-medium">Learn More <i class="uil uil-arrow-right"></i></a></small>

                            <img [src]="'assets/images/logo-icon.png'" height="100" class="mt-4" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="text-center">
                        <p class="mb-0">© {{year}} Starty. Design & Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
