<app-navbar [navRight]="true"/>

<section class="bg-half-170 pb-0 d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="d-md-flex align-items-center border-bottom pb-5">
                    <img [src]="'assets/images/client/05.jpg'" class="img-fluid rounded-circle shadow-md avatar avatar-medium d-block mx-auto" alt="">

                    <div class="section-title ms-md-4 mt-4 mt-sm-0 text-md-start text-center">
                        <h4 class="title mb-0">Maria Brown</h4>
                        <small class="fw-medium text-muted text-uppercase">Journalist / Photographer</small>

                        <p class="text-muted mt-4">The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    <div *ngFor="let item of BlogData" class="col-lg-6 mb-4 pb-2">
                        <div class="card blog blog-primary shadow rounded overflow-hidden">
                            <div class="image position-relative overflow-hidden">
                                <img [src]="item.image" class="img-fluid" alt="">

                                <div class="blog-tag">
                                    <a [routerLink]="[]" class="badge text-bg-light">{{item.category}}</a>
                                </div>
                            </div>

                            <div class="card-body content">
                                <a [routerLink]="['/blog-detail-one',item.id]" class="h5 title text-dark d-block mb-0">{{item.title}}</a>
                                <p class="text-muted mt-2 mb-2">{{item.desc}}</p>
                                <a [routerLink]="['/blog-detail-one',item.id]" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" [routerLink]="[]" aria-label="Previous">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" [routerLink]="[]">1</a></li>
                            <li class="page-item"><a class="page-link active" [routerLink]="[]">2</a></li>
                            <li class="page-item"><a class="page-link" [routerLink]="[]">3</a></li>
                            <li class="page-item">
                                <a class="page-link" [routerLink]="[]" aria-label="Next">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <app-blog-sidebar [search]="true"/>
            </div>
        </div>
    </div>
</section>

<app-footer-five/>