<div class="row justify-content-center">
    <div class="col-lg-10 mt-4 pt-2">
        <div class="accordion" id="buyingquestion">
            <div class="row">
                <div class="col-md-6">
                    <div *ngFor="let item of faqData | slice:0:6" class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button border-0 bg-white" [ngClass]="item.id === activeTab ? '' :'collapsed'" (click)="onTabClick(item.id)">
                                {{item.title}}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse border-0 collapse" [ngClass]="item.id === activeTab ? 'show' :''">
                            <div class="accordion-body text-muted bg-white" >
                                {{item.desc}}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div *ngFor="let item of faqData | slice:6:10" class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button border-0 bg-white" [ngClass]="item.id === activeTab ? '' :'collapsed'" (click)="onTabClick(item.id)">
                                {{item.title}}
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse border-0 collapse" [ngClass]="item.id === activeTab ? 'show' :''">
                            <div class="accordion-body text-muted bg-white" >
                                {{item.desc}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>