<!-- Footer Start -->
<footer class="footer bg-footer" style="background: url('assets/images/bg/rest-footer.jpg') center center" data-jarallax='{"speed": 0.5}'>
    <div class="bg-overlay bg-gradient-overlay-dark"></div>
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <a [routerLink]="[]"><img [src]="'assets/images/logo-light.png'" height="48" alt="" loading="lazy"></a> 
                            
                            <div class="content mt-4 pt-2">
                                <h4 class="text-white title-dark text-uppercase mb-3">Starty Restaurant & Drinks</h4>
                                <p class="mb-2">C/54 Northwest Freeway, Suite 558, <br>Houston, USA 485</p>
                                <p class="mb-2">Open: 09:00 am – 01:00 pm</p>

                                <ul class="list-unstyled footer-list mb-0">
                                    <li class="list-inline-item mx-2"><a href="tel:+152534-468-854" class="text-foot">+152 534-468-854</a></li>
                                    <li class="list-inline-item mx-2"><a href="mailto:contact@example.com" class="text-foot">contact&#64;example.com</a></li>
                                </ul>

                                <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                    <li class="list-inline-item" style="margin: 0 2px;"><a [routerLink]="[]" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item" style="margin: 0 2px;"><a [routerLink]="[]" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item" style="margin: 0 2px;"><a [routerLink]="[]" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item" style="margin: 0 2px;"><a [routerLink]="[]" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-py-30 footer-bar bg-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-start text-center">
                        <p class="mb-0">{{year}} © Starty. Design & Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                    </div>
                </div>

                <div class="col-sm-6 mt-3 mt-sm-0">
                    <ul class="list-unstyled footer-list text-sm-end text-center mb-0">
                        <li class="list-inline-item"><a [routerLink]="[]" class="text-foot me-2">Home</a></li>
                        <li class="list-inline-item"><a [routerLink]="[]" class="text-foot me-2">Menu</a></li>
                        <li class="list-inline-item"><a [routerLink]="[]" class="text-foot me-2">Book a Table</a></li>
                        <li class="list-inline-item"><a [routerLink]="[]" class="text-foot me-2">Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>