<div class="row justify-content-center">
    <div class="col-12">
        <div class="filters-group-wrap text-center">
            <div class="filters-group">
                <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                    <li class="list-inline-item categories position-relative" [ngClass]="selectedCategory === null ? 'active' : ''" (click)="filterItems(null)">All</li>
                    <li class="list-inline-item categories position-relative" [ngClass]="selectedCategory === 'branding' ? 'active' : ''" (click)="filterItems('branding')">Branding</li>
                    <li class="list-inline-item categories position-relative" [ngClass]="selectedCategory === 'designing' ? 'active' : ''" (click)="filterItems('designing')">Designing</li>
                    <li class="list-inline-item categories position-relative" [ngClass]="selectedCategory === 'photography' ? 'active' : ''" (click)="filterItems('photography')">Photography</li>
                    <li class="list-inline-item categories position-relative" [ngClass]="selectedCategory === 'development' ? 'active' : ''" (click)="filterItems('development')">Development</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div [ngClass]="col">
        <div id="grid" [ngClass]="row">
            <div *ngFor="let item of filteredData" class="">
                <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
                    <div class="card-img position-relative">
                        <img [src]="item.image" class="img-fluid" alt="">
                        <div class="card-overlay"></div>

                        <div class="pop-icon">
                            <lightgallery>
                                <a [href]="item.image" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
                            </lightgallery>
                        </div>
                    </div>
                    <div class="content text-center p-3">
                        <a [routerLink]="['/portfolio-detail-one', item.id]" class="text-dark h6 mb-0 d-block title">{{item.name}}</a>
                        <small class="text-muted fw-normal mb-0">{{item.title}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
