<app-navbar [navLight]="true" [navRight]="true"/>

<section class="bg-half-170 d-table w-100" style="background: url('/assets/images/blog/single04.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row g-0 align-items-center mt-5">
            <div class="col-12">
                <div class="title-heading">
                    
                    <h5 *ngIf="!data?.title" class="heading fw-semibold page-heading text-white title-dark">My Very Minimal <br> Interior Design Ideas</h5>

                    <h5 *ngIf="data?.title" class="heading fw-semibold page-heading text-white title-dark">{{data?.title}}</h5>

                    <ul class="list-inline text-start mb-0 mt-4">
                        <li class="list-inline-item me-md-5 me-4 me-sm-0 mt-4">
                            <span class="text-white-50 d-block">Author</span>
                            <a [routerLink]="'/blog-author'" class="text-white title-dark">{{data?.name ? data?.name : 'Christina Gonzalez'}}</a>
                        </li>

                        <li class="list-inline-item me-md-5 me-4 me-sm-0 mt-4">
                            <span class="text-white-50 d-block">Date</span>
                            <span class="text-white title-dark">{{data?.date ? data?.date : '19th June 2024'}}</span>
                        </li>

                        <li class="list-inline-item me-md-5 me-4 me-sm-0 mt-4">
                            <span class="text-white-50 d-block">Read Time</span>
                            <span class="text-white title-dark">8 min read</span>
                        </li>
                    </ul>
                </div>

                <div class="position-absolute top-50 end-0 d-none d-md-block">
                    <nav aria-label="breadcrumb" class="d-flex" style="transform: rotate(-90deg);">
                        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                            <li class="breadcrumb-item"><a [routerLink]="'/'">Starty</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="[]">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Single Post</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="card">
                    <div class="card-body shadow rounded">
                        <p class="text-muted"><span class="dropcaps display-4 text-dark me-2">T</span>he most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script. The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                        <p class="text-muted mb-0">Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. If the fill text is intended to illustrate the characteristics of different typefaces, it sometimes makes sense to select texts containing the various letters and symbols specific to the output language.</p>
                    
                        <blockquote class="text-center mx-auto blockquote"><i class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"></i> The man who comes back through the door in the wall will never be quite the same as the man who went out. <small class="d-block text-muted mt-2">- Starty Template</small></blockquote>
                    
                        <p class="text-muted">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories.</p>
                    
                        <a [routerLink]="[]" class="badge text-bg-primary">Minimal</a>
                        <a [routerLink]="[]" class="badge text-bg-primary mx-1">Interior</a>
                        <a [routerLink]="[]" class="badge text-bg-primary">Furniture</a>
                        <div class="card mt-4 rounded overflow-hidden">
                            <img [src]="data?.image ? data?.image : 'assets/images/blog/single05.jpg'" class="img-fluid rounded shadow" alt="">
    
                            <div class="position-absolute bottom-0 start-50 translate-middle-x text-center mb-3 ms-4">
                                <p class="fst-italic text-white mb-0">The man who comes back through the door in the wall will never be quite the same as the man who went out.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <app-blog-comments/>

                <div class="card shadow rounded border-0 mt-4">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a [routerLink]="'/blog-detail-three'" class="text-dark align-items-center">
                                        <span class="pro-icons"><i data-feather="arrow-left" class="fea icon-sm align-middle"></i></span>
                                        <span class="text-muted d-none d-lg-inline-block">Web Development</span>
                                        <img [src]="'assets/images/blog/06.jpg'" class="avatar avatar-small rounded shadow ms-2" style="height:auto;" alt="">
                                    </a>

                                    <a [routerLink]="'/'" class="btn btn-lg btn-pills btn-icon btn-soft-primary"><i data-feather="home" class="icons"></i></a>
                                    
                                    <a [routerLink]="'/blog-detail-three'" class="text-dark align-items-center">
                                        <img [src]="'assets/images/blog/07.jpg'" class="avatar avatar-small rounded shadow me-2" style="height:auto;" alt="">
                                        <span class="text-muted d-none d-lg-inline-block">Web Designer</span>
                                        <span class="pro-icons"><i data-feather="arrow-right" class="fea icon-sm align-middle"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <app-blog-sidebar-two/>
            </div>
        </div>
    </div>
</section>

<app-footer-five/>