 <header id="topnav" class="defaultscroll sticky" [ngClass]="{'nav-sticky': scroll, 'tagline-height': tagline}">
    <div class="container">
         <ng-container *ngIf="navLight; else elseTemplate">
            <a class="logo" [routerLink]="'/'">
                <span class="logo-light-mode">
                    <img [src]="'assets/images/logo-dark.png'" class="l-dark" alt="Starty" loading="lazy">
                    <img [src]="'assets/images/logo-light.png'" class="l-light" alt="Starty" loading="lazy">
                </span>
                <img [src]="'assets/images/logo-light.png'" class="logo-dark-mode" alt="Starty" loading="lazy">
            </a>
         </ng-container>
         <ng-template #elseTemplate>
             <a class="logo" [routerLink]="'/'">
                 <img [src]="'assets/images/logo-dark.png'" class="logo-light-mode" alt="Starty" loading="lazy">
                 <img [src]="'assets/images/logo-light.png'" class="logo-dark-mode" alt="Starty" loading="lazy">
             </a>
         </ng-template>
         
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" [routerLink]="[]" [ngClass]="toggle ? 'open' : ''" id="isToggle" (click)="toggleMenu($event)">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            <li class="list-inline-item search-icon mb-0">
                <div *ngIf="navLight" class="dropdown">
                    <button type="button" class="btn btn-link text-decoration-none dropdown-toggle mb-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil uil-search h5 text-dark nav-light-icon-dark mb-0"></i>
                        <i class="uil uil-search h5 text-white nav-light-icon-white mb-0"></i>
                    </button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-4 py-0" style="width: 300px;">
                        <form class="p-4">
                            <input type="text" id="text" name="name" class="form-control border bg-white" placeholder="Search...">
                        </form>
                    </div>
                </div>

                <div *ngIf="!navLight" class="dropdown">
                    <button type="button" class="btn btn-link text-decoration-none dropdown-toggle mb-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil uil-search h5 text-dark mb-0"></i>
                    </button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow rounded border-0 mt-4 py-0" style="width: 300px;">
                        <form class="p-4">
                            <input type="text" id="text" name="name" class="form-control border bg-white" placeholder="Search...">
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <div id="navigation" [ngClass]="toggle ? 'd-block' : 'd-none'">
            <ul class="navigation-menu" [ngClass]="{'nav-right': navRight, 'nav-light': navLight}">
                <li class="has-submenu parent-parent-menu-item" [ngClass]="['/index-startup','/index-business','/index-corporate','/index-finance','/index-application','/index-saas','/index-seo','/index-marketing','/index-event','/index-crypto','/index-restaurant','/index-cafe','/index-personal','/index-portfolio','/index-freelancer','/index-charity','/index-personal-blog','/index-fashion','/index-onepage'].includes(menu) ? 'active' : ''">
                    <a [routerLink]="[]" (click)="setmanu('home-item', $event)">Home</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu" [ngClass]="['home-item'].includes(subManu) ? 'open' : ''">
                        <li>
                            <ul>
                                <li [ngClass]="menu === '/index-startup' ? 'active' :''">
                                    <a [routerLink]="'/index-startup'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/startup.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-briefcase-alt menu-list-icon align-middle me-1"></i> Startys</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-business' ? 'active' :''">
                                    <a [routerLink]="'/index-business'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/business.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-presentation-line menu-list-icon align-middle me-1"></i> Business</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-corporate' ? 'active' :''">
                                    <a [routerLink]="'/index-corporate'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/corporate.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-chart-pie menu-list-icon align-middle me-1"></i> Corporate</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-finance' ? 'active' :''">
                                    <a [routerLink]="'/index-finance'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/finance.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-analytics menu-list-icon align-middle me-1"></i> Finance</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li [ngClass]="menu === '/index-application' ? 'active' :''">
                                    <a [routerLink]="'/index-application'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/application.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-mobile-android menu-list-icon align-middle me-1"></i> Application</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-saas' ? 'active' :''">
                                    <a [routerLink]="'/index-saas'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/saas.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-airplay menu-list-icon align-middle me-1"></i> Saas</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-seo' ? 'active' :''">
                                    <a [routerLink]="'/index-seo'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/seo.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-clapper-board menu-list-icon align-middle me-1"></i> SEO Agency</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-marketing' ? 'active' :''">
                                    <a [routerLink]="'/index-marketing'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/marketing.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-process menu-list-icon align-middle me-1"></i> Marketing</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li [ngClass]="menu === '/index-event' ? 'active' :''">
                                    <a [routerLink]="'/index-event'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/event.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-post-stamp menu-list-icon align-middle me-1"></i> Event</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-crypto' ? 'active' :''">
                                    <a [routerLink]="'/index-crypto'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/crypto.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-bitcoin-circle menu-list-icon align-middle me-1"></i> Cryptocurrency</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-restaurant' ? 'active' :''">
                                    <a [routerLink]="'/index-restaurant'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/restaurant.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-restaurant menu-list-icon align-middle me-1"></i> Restaurant</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-cafe' ? 'active' :''">
                                    <a [routerLink]="'/index-cafe'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/cafe.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-coffee menu-list-icon align-middle me-1"></i> Cafe</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li [ngClass]="menu === '/index-personal' ? 'active' :''">
                                    <a [routerLink]="'/index-personal'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/personal.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-user menu-list-icon align-middle me-1"></i> Personal</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-portfolio' ? 'active' :''"> 
                                    <a [routerLink]="'/index-portfolio'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/portfolio.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-image-v menu-list-icon align-middle me-1"></i> Portfolio</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-freelancer' ? 'active' :''">
                                    <a [routerLink]="'/index-freelancer'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/freelancer.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-brackets-curly menu-list-icon align-middle me-1"></i> Freelancer</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <ul>
                                <li [ngClass]="menu === '/index-charity' ? 'active' :''">
                                    <a [routerLink]="'/index-charity'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/charity.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-thumbs-up menu-list-icon align-middle me-1"></i> Charity</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-personal-blog' ? 'active' :''">
                                    <a [routerLink]="'/index-personal-blog'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/blog.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-document-layout-left menu-list-icon align-middle me-1"></i> Personal Blog</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-fashion' ? 'active' :''">
                                    <a [routerLink]="'/index-fashion'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/fashion.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-shopping-bag menu-list-icon align-middle me-1"></i> fashion</span>
                                        </div>
                                    </a>
                                </li>
                                <li [ngClass]="menu === '/index-onepage' ? 'active' :''">
                                    <a [routerLink]="'/index-onepage'" class="sub-menu-item">
                                        <div class="text-lg-center">
                                            <span class="d-none d-lg-block"><img [src]="'assets/images/demos/application.png'" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy"></span>
                                            <span class="mt-lg-2 d-block"><i class="uil uil-book menu-list-icon align-middle me-1"></i> App (Onepage)</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>   
                    </ul>
                </li>

                <li class="has-submenu parent-parent-menu-item" [ngClass]="['/page-aboutus','/page-services','/page-services-two','/page-single-service','/page-faqs','/page-pricing','/page-team','/shop-grids','/shop-product-detail','/shop-cart','/shop-checkout','/page-comingsoon','/page-maintenance','/page-error','/components'].includes(menu)? 'active' :''">
                    <a [routerLink]="[]" (click)="setmanu('page-item', $event)">Pages</a><span class="menu-arrow"></span>
                    <ul class="submenu" [ngClass]="['page-item','services-item','shop-item','special-item'].includes(subManu) ? 'open' : ''">
                        <li [ngClass]="menu === '/page-aboutus' ? 'active' : ''"><a [routerLink]="'/page-aboutus'" class="sub-menu-item">About Us</a></li>
                        <li class="has-submenu parent-menu-item" [ngClass]="['/page-services','/page-services-two','/page-single-service'].includes(menu) ? 'active' : ''"><a [routerLink]="[]" (click)="setmanu('services-item', $event)">Services</a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['services-item'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/page-services' ? 'active' : ''"><a [routerLink]="'/page-services'" class="sub-menu-item">Services</a></li>
                                <li [ngClass]="menu === '/page-services-two' ? 'active' : ''"><a [routerLink]="'/page-services-two'" class="sub-menu-item">Services Two</a></li>
                                <li [ngClass]="menu === '/page-single-service' ? 'active' : ''"><a [routerLink]="'/page-single-service'" class="sub-menu-item">Single Service </a></li>
                            </ul> 
                        </li>
                        <li [ngClass]="menu === '/page-faqs' ? 'active' : ''"><a [routerLink]="'/page-faqs'" class="sub-menu-item">FAQs</a></li>
                        <li [ngClass]="menu === '/page-pricing' ? 'active' : ''"><a [routerLink]="'/page-pricing'" class="sub-menu-item">Pricing</a></li>
                        <li [ngClass]="menu === '/page-team' ? 'active' : ''"><a [routerLink]="'/page-team'" class="sub-menu-item">Team</a></li>                                
                        <li class="has-submenu parent-menu-item" [ngClass]="['/shop-grids','/shop-product-detail','/shop-cart','/shop-checkout'].includes(menu) ? 'active' :''"><a [routerLink]="[]" (click)="setmanu('shop-item', $event)">Shop</a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['shop-item'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/shop-grids' ? 'active' : ''"><a [routerLink]="'/shop-grids'" class="sub-menu-item">Product Grids</a></li>
                                <li [ngClass]="menu === '/shop-product-detail' ? 'active' : ''"><a [routerLink]="'/shop-product-detail'" class="sub-menu-item">Product Details</a></li>
                                <li [ngClass]="menu === '/shop-cart' ? 'active' : ''"><a [routerLink]="'/shop-cart'" class="sub-menu-item">Shop Cart</a></li>
                                <li [ngClass]="menu === '/shop-checkout' ? 'active' : ''"><a [routerLink]="'/shop-checkout'" class="sub-menu-item">Checkouts</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item" [ngClass]="['/page-comingsoon','/page-maintenance','/page-error'].includes(menu) ? 'active' : ''"><a [routerLink]="[]" (click)="setmanu('special-item', $event)">Special</a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['special-item'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/page-comingsoon' ? 'active' : ''"><a [routerLink]="'/page-comingsoon'" class="sub-menu-item">Coming Soon</a></li>
                                <li [ngClass]="menu === '/page-maintenance' ? 'active' : ''"><a [routerLink]="'/page-maintenance'" class="sub-menu-item">Maintenance</a></li>
                                <li [ngClass]="menu === '/page-error' ? 'active' : ''"><a [routerLink]="'/page-error'" class="sub-menu-item">Error</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="menu === '/components' ? 'active' : ''"><a [routerLink]="'/components'" class="sub-menu-item">Components</a></li>
                    </ul>
                </li>

                <li class="has-submenu parent-parent-menu-item" [ngClass]="['/portfolio-classic-two','/portfolio-classic-three','/portfolio-classic-four','/portfolio-classic-five','/portfolio-classic-six','/portfolio-classic-sidebar','/portfolio-creative-two','/portfolio-creative-three','/portfolio-creative-four','/portfolio-creative-five','/portfolio-creative-six','/portfolio-creative-sidebar','/portfolio-modern-two','/portfolio-modern-three','/portfolio-modern-four','/portfolio-modern-five','/portfolio-modern-six','/portfolio-modern-sidebar','/portfolio-masonry-two','/portfolio-masonry-three','/portfolio-masonry-four','/portfolio-masonry-five','/portfolio-masonry-six','/portfolio-masonry-sidebar','/portfolio-detail-one','/portfolio-detail-two','/portfolio-detail-three','/portfolio-detail-four'].includes(menu) ? 'active' : ''">
                    <a [routerLink]="[]" (click)="setmanu('portfolio-item', $event)">Portfolio</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu" [ngClass]="['portfolio-item'].includes(subManu) ? 'open' : ''">
                        <li>
                            <ul>
                                <li class="megamenu-head">Classic Portfolio</li>
                                <li [ngClass]="menu === '/portfolio-classic-two' ? 'active' : ''"><a [routerLink]="'/portfolio-classic-two'" class="sub-menu-item">Two Column</a></li>
                                <li [ngClass]="menu === '/portfolio-classic-three' ? 'active' : ''"><a [routerLink]="'/portfolio-classic-three'" class="sub-menu-item">Three Column</a></li>
                                <li [ngClass]="menu === '/portfolio-classic-four' ? 'active' : ''"><a [routerLink]="'/portfolio-classic-four'" class="sub-menu-item">Four Column</a></li>
                                <li [ngClass]="menu === '/portfolio-classic-five' ? 'active' : ''"><a [routerLink]="'/portfolio-classic-five'" class="sub-menu-item">Five Column</a></li>
                                <li [ngClass]="menu === '/portfolio-classic-six' ? 'active' : ''"><a [routerLink]="'/portfolio-classic-six'" class="sub-menu-item">Six Column</a></li>
                                <li [ngClass]="menu === '/portfolio-classic-sidebar' ? 'active' : ''"><a [routerLink]="'/portfolio-classic-sidebar'" class="sub-menu-item">Portfolio Sidebar</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Creative Portfolio</li>
                                <li [ngClass]="menu === '/portfolio-creative-two' ? 'active' : ''"><a [routerLink]="'/portfolio-creative-two'" class="sub-menu-item">Two Column</a></li>
                                <li [ngClass]="menu === '/portfolio-creative-three' ? 'active' : ''"><a [routerLink]="'/portfolio-creative-three'" class="sub-menu-item">Three Column</a></li>
                                <li [ngClass]="menu === '/portfolio-creative-four' ? 'active' : ''"><a [routerLink]="'/portfolio-creative-four'" class="sub-menu-item">Four Column</a></li>
                                <li [ngClass]="menu === '/portfolio-creative-five' ? 'active' : ''"><a [routerLink]="'/portfolio-creative-five'" class="sub-menu-item">Five Column</a></li>
                                <li [ngClass]="menu === '/portfolio-creative-six' ? 'active' : ''"><a [routerLink]="'/portfolio-creative-six'" class="sub-menu-item">Six Column</a></li>
                                <li [ngClass]="menu === '/portfolio-creative-sidebar' ? 'active' : ''"><a [routerLink]="'/portfolio-creative-sidebar'" class="sub-menu-item">Portfolio Sidebar</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Modern Portfolio</li>
                                <li [ngClass]="menu === '/portfolio-modern-two' ? 'active' : ''"><a [routerLink]="'/portfolio-modern-two'" class="sub-menu-item">Two Column</a></li>
                                <li [ngClass]="menu === '/portfolio-modern-three' ? 'active' : ''"><a [routerLink]="'/portfolio-modern-three'" class="sub-menu-item">Three Column</a></li>
                                <li [ngClass]="menu === '/portfolio-modern-four' ? 'active' : ''"><a [routerLink]="'/portfolio-modern-four'" class="sub-menu-item">Four Column</a></li>
                                <li [ngClass]="menu === '/portfolio-modern-five' ? 'active' : ''"><a [routerLink]="'/portfolio-modern-five'" class="sub-menu-item">Five Column</a></li>
                                <li [ngClass]="menu === '/portfolio-modern-six' ? 'active' : ''"><a [routerLink]="'/portfolio-modern-six'" class="sub-menu-item">Six Column</a></li>
                                <li [ngClass]="menu === '/portfolio-modern-sidebar' ? 'active' : ''"><a [routerLink]="'/portfolio-modern-sidebar'" class="sub-menu-item">Portfolio Sidebar</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Masonry Portfolio</li>
                                <li [ngClass]="menu === '/portfolio-masonry-two' ? 'active' : ''"><a [routerLink]="'/portfolio-masonry-two'" class="sub-menu-item">Two Column</a></li>
                                <li [ngClass]="menu === '/portfolio-masonry-three' ? 'active' : ''"><a [routerLink]="'/portfolio-masonry-three'" class="sub-menu-item">Three Column</a></li>
                                <li [ngClass]="menu === '/portfolio-masonry-four' ? 'active' : ''"><a [routerLink]="'/portfolio-masonry-four'" class="sub-menu-item">Four Column</a></li>
                                <li [ngClass]="menu === '/portfolio-masonry-five' ? 'active' : ''"><a [routerLink]="'/portfolio-masonry-five'" class="sub-menu-item">Five Column</a></li>
                                <li [ngClass]="menu === '/portfolio-masonry-six' ? 'active' : ''"><a [routerLink]="'/portfolio-masonry-six'" class="sub-menu-item">Six Column</a></li>
                                <li [ngClass]="menu === '/portfolio-masonry-sidebar' ? 'active' : ''"><a [routerLink]="'/portfolio-masonry-sidebar'" class="sub-menu-item">Portfolio Sidebar</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="megamenu-head">Portfolio Detail</li>
                                <li [ngClass]="menu === '/portfolio-detail-one' ? 'active' : ''"><a [routerLink]="'/portfolio-detail-one'" class="sub-menu-item">Portfolio One</a></li>
                                <li [ngClass]="menu === '/portfolio-detail-two' ? 'active' : ''"><a [routerLink]="'/portfolio-detail-two'" class="sub-menu-item">Portfolio Two</a></li>
                                <li [ngClass]="menu === '/portfolio-detail-three' ? 'active' : ''"><a [routerLink]="'/portfolio-detail-three'" class="sub-menu-item">Portfolio Three</a></li>
                                <li [ngClass]="menu === '/portfolio-detail-four' ? 'active' : ''"><a [routerLink]="'/portfolio-detail-four'" class="sub-menu-item">Portfolio Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-submenu parent-parent-menu-item" [ngClass]="['blog-item','blog-item-one','blog-item-two','blog-item-three','blog-item-four','/blog-grid','/blog-masonry','/blog-list','/blog-grid-sidebar','/blog-masonry-sidebar','/blog-list-sidebar','/blog-image-grid','/blog-image-masonry','/blog-image-grid-sidebar','/blog-image-masonry-sidebar','/blog-detail-one', '/blog-detail-two','/blog-detail-three','/blog-detail-four','/blog-detail-five','/blog-standard-post','/blog-slider-post','/blog-youtube-post','/blog-vimeo-post','/blog-html-video-post','/blog-audio-post','/blog-html-audio-post','/blog-blockquote-post','/blog-author'].includes(menu) ? 'active' : ''">
                    <a [routerLink]="[]" (click)="setmanu('blog-item', $event)">Blogs</a><span class="menu-arrow"></span>
                    <ul class="submenu" [ngClass]="['blog-item','blog-item-one','blog-item-two','blog-item-three','blog-item-four'].includes(subManu) ? 'open' : ''">
                        <li class="has-submenu parent-menu-item" [ngClass]="['/blog-grid','/blog-masonry','/blog-list','/blog-grid-sidebar','/blog-masonry-sidebar','/blog-list-sidebar'].includes(menu) ? 'active' : ''"><a [routerLink]="[]" (click)="setmanu('blog-item-one', $event)">Blog</a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['blog-item-one'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/blog-grid' ? 'active' : ''"><a [routerLink]="'/blog-grid'" class="sub-menu-item">Blog Grids</a></li>
                                <li [ngClass]="menu === '/blog-masonry' ? 'active' : ''"><a [routerLink]="'/blog-masonry'" class="sub-menu-item">Blog Masonry</a></li>
                                <li [ngClass]="menu === '/blog-list' ? 'active' : ''"><a [routerLink]="'/blog-list'" class="sub-menu-item">Blog List</a></li>
                                <li [ngClass]="menu === '/blog-grid-sidebar' ? 'active' : ''"><a [routerLink]="'/blog-grid-sidebar'" class="sub-menu-item">Blog-Sidebar</a></li>
                                <li [ngClass]="menu === '/blog-masonry-sidebar' ? 'active' : ''"><a [routerLink]="'/blog-masonry-sidebar'" class="sub-menu-item">Blog Masonry-sidebar</a></li>
                                <li [ngClass]="menu === '/blog-list-sidebar' ? 'active' : ''"><a [routerLink]="'/blog-list-sidebar'" class="sub-menu-item">Blog List-Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu parent-menu-item"[ngClass]="['/blog-image-grid','/blog-image-masonry','/blog-image-grid-sidebar','/blog-image-masonry-sidebar'].includes(menu) ? 'active' : ''"><a [routerLink]="[]" (click)="setmanu('blog-item-two', $event)">Image Blog</a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['blog-item-two'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/blog-image-grid' ? 'active' : ''"><a [routerLink]="'/blog-image-grid'" class="sub-menu-item">Blog Grids</a></li>
                                <li [ngClass]="menu === '/blog-image-masonry' ? 'active' : ''"><a [routerLink]="'/blog-image-masonry'" class="sub-menu-item">Blog Masonry</a></li>
                                <li [ngClass]="menu === '/blog-image-grid-sidebar' ? 'active' : ''"><a [routerLink]="'/blog-image-grid-sidebar'" class="sub-menu-item">Blog-Sidebar</a></li>
                                <li [ngClass]="menu === '/blog-image-masonry-sidebar' ? 'active' : ''"><a [routerLink]="'/blog-image-masonry-sidebar'" class="sub-menu-item">Blog Masonry-sidebar</a></li>
                            </ul> 
                        </li>
                        <li class="has-submenu parent-menu-item" [ngClass]="['/blog-detail-one', '/blog-detail-two','/blog-detail-three','/blog-detail-four','/blog-detail-five'].includes(menu) ? 'active' : ''"><a [routerLink]="[]" (click)="setmanu('blog-item-three', $event)">Blog Detail </a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['blog-item-three'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/blog-detail-one' ? 'active' : ''"><a [routerLink]="'/blog-detail-one'" class="sub-menu-item">Blog Detail One</a></li>
                                <li [ngClass]="menu === '/blog-detail-two' ? 'active' : ''"><a [routerLink]="'/blog-detail-two'" class="sub-menu-item">Blog Detail Two</a></li>
                                <li [ngClass]="menu === '/blog-detail-three' ? 'active' : ''"><a [routerLink]="'/blog-detail-three'" class="sub-menu-item">Blog Detail Three</a></li>
                                <li [ngClass]="menu === '/blog-detail-four' ? 'active' : ''"><a [routerLink]="'/blog-detail-four'" class="sub-menu-item">Blog Detail Four</a></li>
                                <li [ngClass]="menu === '/blog-detail-five' ? 'active' : ''"><a [routerLink]="'/blog-detail-five'" class="sub-menu-item">Blog Detail Five</a></li>
                            </ul>  
                        </li>
                        <li class="has-submenu parent-menu-item" [ngClass]="['/blog-standard-post','/blog-slider-post','/blog-youtube-post','/blog-vimeo-post','/blog-html-video-post','/blog-audio-post','/blog-html-audio-post','/blog-blockquote-post'].includes(menu) ? 'active' : ''"><a [routerLink]="[]" (click)="setmanu('blog-item-four', $event)">Single Blog Post</a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['blog-item-four'].includes(subManu) ? 'open' : ''">
                                <li [ngClass]="menu === '/blog-standard-post' ? 'active' : ''"><a [routerLink]="'/blog-standard-post'" class="sub-menu-item">Standard Post</a></li>
                                <li [ngClass]="menu === '/blog-slider-post' ? 'active' : ''"><a [routerLink]="'/blog-slider-post'" class="sub-menu-item">Slider Post</a></li>
                                <li [ngClass]="menu === '/blog-youtube-post' ? 'active' : ''"><a [routerLink]="'/blog-youtube-post'" class="sub-menu-item">Youtube Post</a></li>
                                <li [ngClass]="menu === '/blog-vimeo-post' ? 'active' : ''"><a [routerLink]="'/blog-vimeo-post'" class="sub-menu-item">Vimeo Post</a></li>
                                <li [ngClass]="menu === '/blog-html-video-post' ? 'active' : ''"><a [routerLink]="'/blog-html-video-post'" class="sub-menu-item">HTML Video Post</a></li>
                                <li [ngClass]="menu === '/blog-audio-post' ? 'active' : ''"><a [routerLink]="'/blog-audio-post'" class="sub-menu-item">Audio Post</a></li>
                                <li [ngClass]="menu === '/blog-html-audio-post' ? 'active' : ''"><a [routerLink]="'/blog-html-audio-post'" class="sub-menu-item">HTML Audio Post</a></li>
                                <li [ngClass]="menu === '/blog-blockquote-post' ? 'active' : ''"><a [routerLink]="'/blog-blockquote-post'" class="sub-menu-item">Blockquote</a></li>
                            </ul>
                        </li>
                        <li [ngClass]="menu === '/blog-author' ? 'active' : ''"><a [routerLink]="'/blog-author'" class="sub-menu-item">Author</a></li>
                    </ul>
                </li>

                <li [ngClass]="menu === '/page-contact' ? 'active' : ''"><a [routerLink]="'/page-contact'" class="sub-menu-item">Contact us</a></li>
            </ul>
        </div>
    </div>
</header>
