<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="tiny-five-item">
                <div *ngFor="let item of projectData" class="tiny-slide">
                    <div class="card portfolio portfolio-classic portfolio-primary m-2 rounded overflow-hidden">
                        <div class="card-img position-relative">
                            <img [src]="item.image" class="img-fluid" alt="Starty" loading="lazy">
                            <div class="card-overlay"></div>

                            <div class="pop-icon">
                                <lightgallery>
                                    <a [href]="item.image" class="btn btn-pills btn-icon lightbox"><i class="uil uil-camera"></i></a>
                                </lightgallery>
                            </div>
                        </div>
                        <div class="content pt-3">
                            <a [routerLink]="'/portfolio-detail-one'" class="text-dark h6 mb-0 d-block title">{{item.title}}</a>
                            <small class="text-muted fw-normal mb-0">{{item.subTitle}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
