<app-home-navbar [currentSection]="currentSection"/>

<section class="bg-half-170 pb-0" [ngClass]="" id="home" style="background: url('/assets/images/bg/live.png') top right;">
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="title-heading">
                    <img [src]="'assets/images/logo-icon.png'" height="80" alt="Starty" loading="lazy">
                    
                    <ngx-typed-js [strings]="['Starty Business', 'Corporate Business', 'Finance', 'Application', 'Saas', 'SEO Agency', 'Digital Marketing', 'Marketing', 'Product Launch', 'Restaurent', 'Coffee & Cafe', 'Personal', 'Minimal Portfolio', 'Developer', 'Personal Blog', 'Charity', 'Event Management', 'e-Commerce', '',]" [shuffle]="true" [typeSpeed]="100" >
                        <h4 class="display-6 fw-semibold my-4">Create a powerfull websites <br> for <span id="typed" class="typing fw-semibold text-primary"></span></h4>
                      </ngx-typed-js>

                    <p class="text-muted mx-auto para-desc pb-md-5 mb-5">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                
                    <img [src]="'/assets/images/demos/live/home.png'" alt="Starty" class="img-fluid" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section pb-0" id="demos">
    <div class="position-relative">
        <div class="attach-icons-hero text-center py-md-5 py-lg-0">
            <a *ngFor="let item of tooltipData" [routerLink]="''" (click)="$event.preventDefault()"><img [src]="item.image" class="img-fluid avatar avatar-md-md my-2 my-sm-0 mx-2 p-2 bg-white rounded-circle shadow" data-bs-toggle="tooltip" data-placement="top" [title]="item.title" alt="Starty" loading="lazy"></a>
        </div>
    </div>

    <div class="container-fluid mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <div class="px-lg-5 mx-lg-5">
                    <div class="row justify-content-center mb-0">
                        <div class="col-12">
                            <div class="section-title text-center">
                                <h4 class="title mb-0">Template Demos</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div *ngFor="let item of demos" class="col-lg-4 col-md-6 col-12 picture-item mt-100 mt-60">
                            <div class="card portfolio portfolio-modern portfolio-primary px-lg-4 px-md-2">
                                <a [routerLink]="item.link" target="_blank">
                                    <img [src]="item.image" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy">
                                </a>
                                <div class="text-center pt-4">
                                    <a [routerLink]="item.link" target="_blank" class="text-dark fs-5 fw-medium mb-0 d-block title text-uppercase">{{item.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title mb-4 pb-2 text-center">
                    <h4 class="title mb-0">Template Features</h4>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div *ngFor="let item of features" class="col mt-4 pt-2">
                <div class="card features feature-primary features-classic p-4 text-center rounded-md shadow border-0">
                    <div class="fea-icon bg-soft rounded-md mx-auto">
                        <i [ngClass]="item.icon"></i>
                    </div>

                    <div class="content mt-4">
                        <h6 class="mb-0">{{item.title}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light pt-0" id="inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="position-relative" style="z-index: 1;">
                    <div class="position-relative">
                        <img [src]="'assets/images/demos/live/lapy.png'" class="img-fluid" alt="Starty" loading="lazy">
                    </div>
                    <div class="content mt-4 pt-2">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="section-title my-4 py-2 text-center">
                                    <h4 class="title mb-4">Inner Pages</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-posts-placeholder bg-light"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="px-lg-5 mx-lg-5">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="filters-group-wrap text-center">
                                <div class="filters-group">
                                    <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === null ? 'active' : ''"  (click)="filterItems(null)">All</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'about' ? 'active' : ''" (click)="filterItems('about')">About</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'service' ? 'active' : ''" (click)="filterItems('service')">Services</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'portfolio' ? 'active' : ''"  (click)="filterItems('portfolio')">Portfolio</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'shop' ? 'active' : ''"  (click)="filterItems('shop')">Shop</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'blog' ? 'active' : ''"  (click)="filterItems('blog')">Blogs</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'contact' ? 'active' : ''"  (click)="filterItems('contact')">Contact</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'special' ? 'active' : ''"  (click)="filterItems('special')">Special</li>
                                        <li class="list-inline-item categories position-relative h5 fw-normal" [ngClass]="selectedCategory === 'p&f' ? 'active' : ''"  (click)="filterItems('p&f')">Pricing & FAQs</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="grid" class="row">
                        <div *ngFor="let item of filteredData" class="col-lg-3 col-md-4 col-12 picture-item mt-100 mt-60">
                            <div class="card portfolio portfolio-modern portfolio-primary px-md-2">
                                <a [routerLink]="item.link" target="_blank">
                                    <img [src]="item.image" class="img-fluid rounded shadow-md" alt="Starty" loading="lazy">
                                </a>
                                <div class="text-center pt-4">
                                    <a [routerLink]="item.link" target="_blank" class="text-dark fs-6 fw-medium mb-0 d-block title text-uppercase">{{item.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 col-12">
                <img [src]="'assets/images/demos/live/cell-phone.png'" class="img-fluid" alt="Starty" loading="lazy">
            </div>

            <div class="col-lg-7 col-md-7 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="section-title ms-lg-5">
                    <h4 class="gradient-text mb-4">Fully Responsive</h4>
                    <h5 class="title mb-3">You can use <u>Starty</u> in all type of devices whether it is a tablet, mobile or desktop the size does not matter..</h5>
                    <h5 class="text-muted para-desc fw-normal">Starty is fully responsive with all devices and fully managed by boostraps latest version.</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<app-home-footer/>
<app-scroll-to-top/>
