<app-navbar [navRight]="true"/>
<section class="bg-half-170 d-table w-100 pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="title-heading">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="uil uil-user h5 mb-0"></i><a href="javascript:void(0)" class="text-primary h6"> Mr. Donald Ruffy</a></li>
                        <li class="list-inline-item text-muted h6 ms-3"><i class="uil uil-calender h5 text-dark"></i> {{data?.date ? data?.date : '19th June 2021'}}</li>
                    </ul>

                    <h4 class="heading text-decoration-underline mb-4">{{data?.title ? data?.title : 'The Right Hand of Business IT World'}}</h4>
                    <p class="text-muted h5 fw-normal mb-0">If the distribution of letters and 'words' is random, the reader will not be distracted from making a neutral judgement on the visual impact and readability of the typefaces (typography), or the distribution of text on the page (layout or type area).</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card rounded overflow-hidden">
                    <img [src]="data?.image ? data?.image : 'assets/images/blog/single01.jpg'" class="img-fluid rounded shadow" alt="" style="height: 523px; object-fit: cover;">
                    
                    <div class="position-absolute bottom-0 start-0 mb-3 ms-4">
                        <a [routerLink]="[]" class="badge text-bg-primary" style="margin: 0 2px;">Finance</a>
                        <a [routerLink]="[]" class="badge text-bg-primary" style="margin: 0 2px;">Marketing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-1 d-md-block d-none">
                        <div class="sidebar sticky-bar">
                            <ul class="list-unstyled align-items-center social-icon social mb-0">
                                <li *ngFor="let item of social" class="mb-1"><a [routerLink]="[]" class="rounded"><i [ngClass]="item"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-11">
                        <p class="text-muted"><span class="dropcaps display-4 text-primary me-2">T</span>he most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less corresponds to 'proper' Latin. It contains a series of real Latin words. This ancient dummy text is also incomprehensible, but it imitates the rhythm of most European languages in Latin script. The advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that the text does not attract attention to itself or distract the viewer's attention from the layout.</p>
                        <p class="text-muted mb-0">Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. If the fill text is intended to illustrate the characteristics of different typefaces, it sometimes makes sense to select texts containing the various letters and symbols specific to the output language.</p>
                    
                        <blockquote class="text-center mx-auto blockquote"><i class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"></i> The man who comes back through the door in the wall will never be quite the same as the man who went out. <small class="d-block text-muted mt-2">- Starty Template</small></blockquote>
                    
                        <p class="text-muted mb-0">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. These alternatives to the classic Lorem Ipsum texts are often amusing and tell short, funny or nonsensical stories.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <div class="card rounded overflow-hidden">
                    <img [src]="'assets/images/blog/single02.jpg'" class="img-fluid rounded shadow" alt="">

                    <div class="position-absolute bottom-0 start-50 translate-middle-x text-center mb-3 ms-4">
                        <p class="fst-italic text-white mb-0">The man who comes back through the door in the wall will never be quite the same as the man who went out.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <p class="text-muted mb-0"><span class="dropcaps display-4 text-primary me-2">I</span>t seems that only fragments of the original text remain in the Lorem Ipsum texts used today. One may speculate that over the course of time certain letters were added or deleted at various positions within the text. This might also explain why one can now find slightly different versions. Due to the age of the Lorem Ipsum text there are no copyright issues to contend with.</p>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row">
            <div class="col-12">
                <span class="divider-main divider"></span>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title">
                    <h4 class="title mb-0">Related News</h4>
                </div>
            </div>
        </div>
        <app-blog-one/>
    </div>
</section>

<app-footer-five/>