 <footer class="bg-footer py-md-4 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <div class="text-sm-start text-center">
                    <a [routerLink]="'/'">
                        <img [src]="'assets/images/logo-light.png'" height="26" alt="">
                    </a>
                </div>
            </div>

            <div class="col-sm-6 mt-4 mt-sm-0">
                <div class="text-center">
                    <p class="mb-0 text-muted">{{year}} © Starty. Design & Develop with <i class="mdi mdi-heart text-danger"></i> by <a href="https://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
                </div>
            </div>

            <div class="col-sm-4 mt-4 mt-sm-0">
                <ul class="list-unstyled social-icon foot-social-icon text-sm-end text-center mb-0">
                    <li *ngFor="let item of social" class="list-inline-item" style="margin: 0 2px !important;"><a [href]="item.link" target="_blank" class="rounded"><i [ngClass]="item.icon" title="Buy Now"></i></a></li>
                </ul>
                
            </div>
        </div>
    </div>
</footer>