<div class="row">
    <div class="col-12">
        <div class="tiny-three-item mt-4">
            <div *ngFor="let item of clientData" class="tiny-slide p-2">
                <div class="card client-testi text-center bg-white p-4 shadow rounded">
                    <img [src]="item.image" class="avatar avatar-small rounded-pill mx-auto" alt="" loading="lazy">

                    <div class="card-body p-0 pt-4 content">
                        <p class="text-muted fst-italic">{{item.desc}}</p>

                        <div class="name mt-2">
                            <small class="text-uppercase fw-semibold d-block">{{item.name}}</small>
                            <small class="text-muted">{{item.position}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
