<app-navbar [navRight]="true"/>

<section class="bg-half-170 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="title-heading">
                    <h4 class="display-4 fw-semibold mb-4">If you want to <br> <span class="text-primary">hire pro</span> right now!</h4>
                    <p class="para-desc title-dark text-muted mb-0">Explore and learn more about everything from machine learning and global payments to  scaling your team.</p>
                
                    <div class="mt-4">
                        <a [routerLink]="[]" class="btn btn-primary">Create Account</a>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <img [src]="'/assets/images/svg/freelancer.svg'" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section class="py-4 border-bottom border-top">
    <div class="container">
        <app-partners/>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Choose from a pool of web development <br> services we have for you</h4>
                    <p class="text-muted para-desc mx-auto">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div *ngFor="let item of feature" class="col-xl-3 col-lg-4 col-md-6">
                <div class="card features feature-primary features-classic p-4 rounded-md shadow border-0" [ngClass]="item.color">
                    <div class="fea-icon bg-soft rounded-md">
                        <i [ngClass]="item.icon"></i>
                    </div>

                    <div class="content mt-4">
                        <h5 class="mb-3">{{item.title}} <br> {{item.title2}}</h5>
                        <a [routerLink]="'/page-single-service'" class="title text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h6 class="text-primary">Quickstart</h6>
                    <h4 class="title mb-3">Awesome isn't it? Let's dive in!</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>

        <app-freelancer-tab/>
    </div>
</section>

 <section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div id="grid" class="row">
                    <div class="col-md-6 col-12">
                        <div class="section-title text-center text-md-start mt-md-5 mb-4 pb-2">
                            <h6 class="text-primary">Our Work</h6>
                            <h4 class="title mb-3">Inspire design for <br> the Digital Age</h4>
                            <p class="para-desc mx-auto text-muted mb-0">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                        </div>
                    </div>

                    <div *ngFor="let item of projectData" class="col-md-6 col-12 mt-4 pt-2">
                        <div class="card portfolio portfolio-modern portfolio-primary rounded overflow-hidden">
                            <lightgallery>
                                <a [href]="item.image" class="lightbox">
                                    <img [src]="item.image" class="img-fluid" alt="" loading="lazy">
                                </a>
                            </lightgallery>
                            <div class="content text-center p-3">
                                <a [routerLink]="'/portfolio-detail-three'" class="text-dark h6 mb-0 d-block title">{{item.name}}</a>
                                <small class="text-muted fw-normal mb-0">{{item.title}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12 mt-4 pt-2">
                        <div class="section-title text-center text-md-start">
                            <h4 class="mb-3">Check out more creative designs</h4>
                            <p class="para-desc mx-auto text-muted mb-4">Our design projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                        
                            <a [routerLink]="[]" class="btn btn-primary">Explore More <i class="uil uil-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title mb-4 pb-2 text-center">
                    <span class="text-primary">Testimonial</span>
                    <h4 class="title mb-3 mt-2">Don't believe us, <br> Check what our partners say</h4>
                    <p class="para-desc mx-auto text-muted mb-0">Our design Starty projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>
        </div>
        <app-client-two/>
    </div>
</section>

<section class="section" style="background: url('/assets/images/cta05.png') left;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="section-title">
                    <h4 class="title mb-3">Need a hand with your Starty project? <br> Let’s build an ideal Webdesign</h4>
                    <p class="para-desc title-dark text-muted mb-0">Our design Starty projects are fresh and simple and will benefit your business greatly. Learn more about our work!</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0 text-md-end">
                <a [routerLink]="'/page-contact'" class="btn btn-primary">Contact us <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
</section>

<app-footer-one [top]="true"/>
