<div class="restaurant-css">
    <app-navbar [navLight]="true"/>

    <section class="home-slider position-relative" id="home">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="bg-home d-flex align-items-center" style="background: url('/assets/images/bg/rest01.jpg') center center;">
                        <div class="bg-overlay bg-linear-gradient"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 text-center">
                                    <div class="title-heading mt-4">
                                        <h5 class="text-light title-dark animated fadeInDownBig animation-delay-1">The Starty most delicious flavor combos</h5>
                                        <h1 class="display-1 fw-semibold text-uppercase mb-3 text-white text-shadow-dark-lg title-dark animated fadeInUpBig animation-delay-3">The Food Heaven</h1>
                                        <p class="para-desc text-white-50 para-dark mx-auto animated fadeInUpBig animation-delay-5">Experimentation in the kitchen and focus on excellence are among our Starty main driving forces in cooking.</p>
                                        <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-7">
                                            <a [routerLink]="[]" class="btn btn-font-sm btn-pills-0 btn-lg btn-light text-uppercase mt-2">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="bg-home d-flex align-items-center" style="background: url('/assets/images/bg/rest02.jpg') center center;">
                        <div class="bg-overlay bg-linear-gradient"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 text-center">
                                    <div class="title-heading mt-4">
                                        <h5 class="text-light title-dark animated fadeInDownBig animation-delay-1">Welcome to our delicious Starty corner</h5>
                                        <h1 class="display-1 fw-semibold text-uppercase mb-3 text-white text-shadow-dark-lg title-dark animated fadeInUpBig animation-delay-3">The Best Dishes</h1>
                                        <p class="para-desc text-white-50 para-dark mx-auto animated fadeInUpBig animation-delay-5">We have a proper passion for cooking. Love is the secret ingredient Starty that makes all our meals taste better and magical.</p>
                                        <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-7">
                                            <a [routerLink]="[]" class="btn btn-font-sm btn-pills-0 btn-lg btn-light text-uppercase mt-2">View Our Menu</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="bg-home d-flex align-items-center" style="background: url('/assets/images/bg/rest03.jpg') center center;">
                        <div class="bg-overlay bg-linear-gradient"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 text-center">
                                    <div class="title-heading mt-4">
                                        <h5 class="text-light title-dark animated fadeInDownBig animation-delay-1">Take a sip of our innovative Starty drinks</h5>
                                        <h1 class="display-1 fw-semibold text-uppercase mb-3 text-white text-shadow-dark-lg title-dark animated fadeInUpBig animation-delay-3">The Finest Drinks</h1>
                                        <p class="para-desc text-white-50 para-dark mx-auto animated fadeInUpBig animation-delay-5">From the delicious food to wonderful cocktails, Laurent’s offer is guaranteed to satisfy Starty all of your taste buds.</p>
                                        <div class="mt-4 pt-2 animated fadeInUpBig animation-delay-7">
                                            <a [routerLink]="[]" class="btn btn-font-sm btn-pills-0 btn-lg btn-light text-uppercase mt-2">View more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </section>

    <section class="section pb-0">
        <div class="container">
            <div class="row justify-content-center" id="about">
                <div class="col-lg-9 text-center">
                    <div class="section-title mb-4">
                        <h6 class="text-primary">Our Story</h6>
                        <h4 class="title text-uppercase fw-bold mb-4">About Restaurant</h4>
                        <p class="text-muted mx-auto para-desc">Splash your Starty dream color Bring your home to lively Colors. We make it a priority to offer flexible services to accomodate your needs</p>
                        <p class="text-muted mx-auto mt-4">At the foot of the mountains overlooking the sea, a stone’s throw from Italian border post, the 1930s-era rotunda building housing the Starty enjoys an idyllic setting. At the Starty, nothing is immutable; everything changes with the seasons, available produce, and the inspiration of the chef. Down a few steps, the orchard garden full of fragrant herbs and citrus is a precious source of inspiration for Mauro Colagreco when dreaming up his dishes.</p>
                    
                        <div class="mt-4 pt-2">
                            <a [routerLink]="'/page-aboutus'" class="btn btn-font-sm btn-pills-0 btn-lg btn-primary text-uppercase mt-2">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img [src]="'assets/images/bg/rest-about.png'" class="img-fluid" alt="" loading="lazy"/>
                </div>
            </div>
        </div>
    </section>

    <section class="section jarallax" style="background: url('/assets/images/bg/rest-menu.jpg') fixed top;" data-jarallax='{"speed": 0.5}' id="menulist">
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-0">
                        <h4 class="title text-white title-dark fw-bold text-uppercase mb-4">Restaurant Special</h4>
                        <p class="text-white-50 mx-auto para-desc mb-0">Splash your dream color Bring your home to lively Colors. We make it a priority to offer flexible services to accomodate Starty your needs</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pt-5 bg-white" style="background: url('/assets/images/bg/rest-menu.png') center center">
        <div class="bg-overlay bg-gradient-overlay-white"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 filters-group-wrap text-center">
                    <div class="filters-group">
                        <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                            <li class="list-inline-item categories text-uppercase position-relative" [ngClass]="selectedCategory === null ? 'active' : ''" (click)="filterItems(null)">All</li>
                            <li class="list-inline-item categories text-uppercase position-relative" [ngClass]="selectedCategory === 'break' ? 'active' : ''" (click)="filterItems('break')">Breakfast</li>
                            <li class="list-inline-item categories text-uppercase position-relative" [ngClass]="selectedCategory === 'lunch' ? 'active' : ''" (click)="filterItems('lunch')">Lunch</li>
                            <li class="list-inline-item categories text-uppercase position-relative" [ngClass]="selectedCategory === 'dinner' ? 'active' : ''" (click)="filterItems('dinner')">Dinner</li>
                            <li class="list-inline-item categories text-uppercase position-relative" [ngClass]="selectedCategory === 'tea' ? 'active' : ''" (click)="filterItems('tea')">Tea & Coffee</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div id="grid" class="row">
                <div *ngFor="let item of filteredData" class="col-lg-6 col-md-6 picture-item">
                    <div class="portfolio portfolio-primary d-flex align-items-center p-2 pt-3 pb-3">
                        <img [src]="item.image" class="img-fluid shadow rounded-pill avatar avatar-md-md shadow-md" alt="img">
                        <div class="flex-1 ms-4">
                            <div class="d-flex justify-content-between border-bottom pb-2">
                                <a [routerLink]="[]" class="text-dark title h6 mb-0 fw-semibold">{{item.name}}</a>
                                <span class="float-end fw-semibold">{{item.price}}</span>
                            </div>
                            <p class="text-muted mb-0 mt-2">{{item.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section border-top" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title mb-4 pb-2 text-center">
                        <h6 class="text-primary">Services</h6>
                        <h4 class="title text-uppercase fw-bold mb-4">Customers Services</h4>
                        <p class="text-muted mx-auto para-desc mb-0">Splash your dream color Bring your home to lively Colors. We make it a priority to offer flexible services to accomodate your needs</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div *ngFor="let item of servicesData" class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="features feature-primary text-center border-0">
                        <img [src]="item.image" class="avatar avatar-md-md rounded-circle p-4 shadow-md" alt="">

                        <div class="content mt-4">
                            <a [routerLink]="[]" class="title fw-semibold h5 text-dark">{{item.title}}</a>
                            <p class="text-muted mt-2">{{item.desc}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-muted para-desc mx-auto">Dear guests, you are welcomed to dine with us at Foxe restaurant. Have a pleasant dining experience.</p>
                    <a [routerLink]="[]" class="btn btn-font-sm btn-pills-0 btn-lg btn-primary text-uppercase mt-2">Book a table</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section jarallax" id="book-table" data-jarallax='{"speed": 0.5}' style="background: url('/assets/images/bg/rest-cta.jpg') center;">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6 col-md-8">
                    <div class="bg-white shadow p-lg-5 p-4 ms-lg-5">
                        <div class="section-title mb-5">
                            <span class="badge rounded-pill bg-soft-primary py-2 px-3 fw-semibold">Reservation</span>
                            <h4 class="title fw-bold text-uppercase my-3">Book A Table</h4>
                            <p class="text-muted mx-auto para-desc mb-0">We make it a priority to offer flexible services to accomodate your needs</p>
                        </div>

                        <form>
                            <div class="row gx-2">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label text-uppercase">Your Name</label>
                                        <input name="name" id="name" type="text" class="form-control rounded-0" placeholder="First Name :">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label text-uppercase">Your Email</label>
                                        <input name="email" id="email" type="email" class="form-control rounded-0" placeholder="Your email :">
                                    </div> 
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label text-uppercase">Phone no.</label>
                                        <input name="number" type="number" id="phone-number" class="form-control rounded-0" placeholder="Phone no. :">
                                    </div> 
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label text-uppercase">Person</label>
                                        <input type="number" min="0" autocomplete="off" id="adult" class="form-control rounded-0" required="" placeholder="Person :">
                                    </div> 
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label text-uppercase">Date</label>
                                        <input name="date" type="text" class="form-control start rounded-0" placeholder="(ex: mm/ dd/ yy)">
                                    </div> 
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="form-label text-uppercase">Time</label>
                                        <input name="time" type="text" id="input-time" class="form-control timepicker rounded-0" placeholder="(ex: 8:00 p.m)">
                                    </div> 
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <input type="submit" id="submit" name="send" class="btn btn-font-sm btn-pills-0 btn-primary text-uppercase w-100" value="Book a table">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title mb-4 pb-2 text-center">
                        <h6 class="text-primary">Blog & News</h6>
                        <h4 class="title text-uppercase fw-bold mb-4">Use the tips <br> and recipes of our chefs</h4>
                        <p class="text-muted mx-auto para-desc mb-0">Splash your dream color Bring your home to lively Colors. We make it a priority to offer flexible services to accomodate your needs</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div *ngFor="let item of blogData" class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog blog-primary shadow rounded overflow-hidden">
                        <div class="image position-relative overflow-hidden">
                            <img [src]="item.image" class="img-fluid" alt="">

                            <div class="blog-tag">
                                <a [routerLink]="[]" class="badge text-bg-light">{{item.category}}</a>
                            </div>
                        </div>

                        <div class="card-body content">
                            <a [routerLink]="'/blog-detail-four'" class="h5 fw-semibold title text-dark d-block mb-0">{{item.title}}</a>
                            <p class="text-muted mt-2 mb-2">{{item.desc}}</p>
                            <a [routerLink]="'/blog-detail-four'" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-100 mt-60">
            <div class="row">
                <div class="col-12 px-0">
                    <div class="tiny-twelve-item">
                        <div *ngFor="let item of foodImages" class="tiny-slide">
                            <div class="card portfolio portfolio-classic portfolio-primary client-testi rounded-0 overflow-hidden">
                                <div class="card-img position-relative">
                                    <img [src]="item" class="img-fluid" alt="">
                                    <div class="card-overlay"></div>

                                    <div class="pop-icon">
                                        <lightgallery>
                                            <a [href]="item" class="btn btn-pills btn-icon lightbox"><i class="uil uil-instagram"></i></a>
                                        </lightgallery>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="position-absolute top-50 start-50 translate-middle d-md-block d-none">
                        <a [routerLink]="[]" class="btn btn-font-sm btn-pills-0 btn-primary text-uppercase">Follow Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <app-restaurant-footer/>
</div>