<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="card blog blog-image blog-primary shadow rounded overflow-hidden">
            <div class="card-img">
                <img [src]="'assets/images/blog/img01.jpg'" class="img-fluid" alt="">
                <div class="card-overlay"></div>

                <div class="position-absolute top-0 start-0 mt-3 ms-4">
                    <a [routerLink]="[]" class="badge text-bg-light">Finance</a>
                </div>
            </div>
            <div class="content px-4">
                <a [routerLink]="'/blog-detail-one'" class="h5 title d-block mb-0 text-white title-dark">How to Get a Successful Ad for Your Business</a>

                <div class="d-flex author align-items-center mt-2">
                    <img [src]="'assets/images/client/04.jpg'" class="avatar avatar-md-sm rounded-pill" alt="">
                    <div class="ms-2">
                        <small class="text-light title-dark user d-block"> Calvin Carlo</small>
                        <small class="text-light title-dark date"> 13th March 2023</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let item of blogData" class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="card blog blog-primary shadow rounded overflow-hidden">
            <div class="image position-relative overflow-hidden">
                <img [src]="item.image" class="img-fluid" alt="">

                <div class="blog-tag">
                    <a [routerLink]="[]" class="badge text-bg-light">{{item.category}}</a>
                </div>
            </div>

            <div class="card-body content">
                <a [routerLink]="['/blog-detail-one', item.id]" class="h5 title text-dark d-block mb-0">{{item.title}}</a>
                <p class="text-muted mt-2 mb-2">{{item.desc}}</p>
                <a [routerLink]="['/blog-detail-one', item.id]" class="link text-dark">Read More <i class="uil uil-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
</div>