<div class="row">
    <div *ngFor="let item of teamData" class="col-lg-3 col-md-6 mt-4 pt-2">
        <div class="card team team-primary rounded team-two overflow-hidden shadow">
            <div class="team-image">
                <img [src]="item.image" class="img-fluid" alt="">
                <div class="overlay"></div>
            </div>
            <ul class="list-unstyled social-icon team-social mb-0">
                <li *ngFor="let el of item.social" class="mb-1"><a [routerLink]="[]" class="rounded"><i [attr.data-feather]="el" class="fea icon-sm fea-social"></i></a></li>
            </ul>
            <div class="team-content">
                <a [routerLink]="[]" class="h6 text-uppercase d-block mb-0 text-white title-dark">{{item.name}}</a>
                <small class="text-white title-dark">{{item.position}}</small>
            </div>
        </div>
    </div>
</div>