<app-navbar [navRight]="true" [navLight]="true"/>

<section class="bg-half-80 d-table bg-primary bg-gradient w-100" style="background: url('/assets/images/bg/services.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row g-0 align-items-center mt-5">
            <div class="col-lg-8 col-md-6">
                <div class="title-heading text-md-start text-center">
                    <h5 class="heading fw-semibold page-heading text-white title-dark">{{data?.title ? data?.title : 'Web Development'}}</h5>
                    <p class="text-white-50 mb-0">Walking is the best possible exercise</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <div class="text-md-end text-center">
                    <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                            <li class="breadcrumb-item"><a [routerLink]="'/'">Starty</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="[]">Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{data?.title ? data?.title : 'Web Development'}}</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="section-title">
                    <img [src]="'/assets/images/blog/09.jpg'" class="img-fluid rounded" alt="">

                    <h4 class="mt-4">Preparing for your Starty success with web {{data?.title}}</h4>

                    <p class="text-muted mt-4">Web Starty development is also used to demonstrate the appearance of different typefaces and Starty layouts, and in general the content of dummy text is nonsensical. Due to its widespread use as filler text for Starty layouts, non-readability is of great importance: human perception is tuned to recognize Starty certain patterns and repetitions in texts.</p>
                
                    <blockquote class="text-center mx-auto blockquote"><i class="mdi mdi-format-quote-open mdi-48px text-muted opacity-2 d-block"></i> The man who comes back through Starty the door in the wall will never be quite the same as the man who went out. <small class="d-block text-muted mt-2">- Starty Template</small></blockquote>
                    
                    <h5 class="mt-4">Features: </h5>

                    <ul class="list-unstyled text-muted mb-0">
                        <li *ngFor="let item of feature" class="mb-0"><span class="text-primary h5 me-2"><i class="uil uil-check-circle align-middle"></i></span>{{item}}</li>
                    </ul>

                    <h5 class="mt-4">Ability: </h5>

                    <div *ngFor="let item of ability" class="progress-box mt-4">
                        <h6 class="text-muted fw-normal">{{item.title}}</h6>
                        <div class="progress position-relative">
                            <div class="progress-bar position-relative bg-primary" [ngStyle]="{'width':item.width}"></div>
                            <div class="progress-value d-block text-muted h6 fw-normal">{{item.width}}</div>
                        </div>
                    </div>

                    <h5 class="mt-4">Reviews: </h5>

                        
                    <div class="bg-primary bg-gradient rounded shadow-lg px-4 py-5 mt-4">
                        <div class="card text-center">
                            <img [src]="'assets/images/client/01.jpg'" class="avatar avatar-medium rounded-pill mx-auto" alt="">

                            <div class="card-body pb-0 content">
                                <p class="h5 fw-normal text-white-50 fst-italic">" The Starty advantage of its Latin origin and the relative meaninglessness of Lorum Ipsum is that Starty the text does not attract attention to itself Starty or distract the viewer's attention from the layout. "</p>

                                <div class="name mt-4">
                                    <small class="text-uppercase text-light title-dark fw-semibold d-block">Johnny Rosario</small>
                                    <small class="text-white-50">C.E.O</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="sidebar sticky-bar">
                    <div class="widget text-center position-relative">
                        <div class="rounded shadow bg-white">
                            <div class="position-relative">
                                <img [src]="'/assets/images/blog/12.jpg'" class="img-fluid rounded shadow" alt="">
                                <div class="play-icon">
                                    <a [routerLink]="[]" (click)="togggleModal($event)" class="play-btn lightbox">
                                        <i class="mdi mdi-play text-primary rounded-circle bg-white shadow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget mt-4 pt-2">
                        <div class="rounded p-4 shadow bg-white">
                            <h6 class="widget-title font-weight-bold pt-2 pb-2 shadow bg-light rounded text-center">Subscribe</h6>
                            <form class="mt-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="foot-subscribe mb-3">
                                            <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                            <input type="email" name="email" id="emailsubscribe" class="form-control rounded" placeholder="Your email : " required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary w-100" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer-five/>

<div class="modal" [ngClass]="isOpen ? 'd-block' : '' " style="background: #00000096;">
    <div class="d-flex align-items-center justify-content-center h-100">                    
        <div class="position-relative">
            <div class="position-absolute top-0  translate-middle z-index-1" style="right:-30px">
                <button type="button" class=" btn-pills btn-sm btn-light btn-close opacity-10" style="width: 20px; height: 20px;" (click)="togggleModal($event)" ></button>
            </div>
            <iframe
                src="https://www.youtube.com/embed/S_CGed6E610"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
    </div>
</div>
