 <div class="tagline bg-light shadow">
    <div class="container-fluid">                
        <div class="row">
            <div class="col-12">
                <div class="text-slider">
                    <ul class="list-inline mb-0 move-text">
                        <li class="list-inline-item small px-2 mb-0">EOG $ 55.88 <span class="text-success">+$ 4.62 ( +9.01% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">CHKP $ 120.03 <span class="text-danger">-$ 14.07 ( -10.49% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">FANG $ 63.58 <span class="text-success">+$ 5.17 ( +8.84% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">M $ 14.75 <span class="text-success">+$ 1.05 ( +7.66% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">PKI $ 139.72 <span class="text-danger">-$ 11.41 ( -7.55% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">ABMD $ 326.23 <span class="text-danger">-$ 21.61 ( -6.21% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">BITCOIN $ 37,471.47 <span class="text-danger">+$ 492.60 ( +1.33% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">XRP <span> $ 0.39</span><span class="text-muted"> UNCH</span></li>
                        <li class="list-inline-item small px-2 mb-0">LITECOIN <span> $ 148.67</span><span class="text-danger">-$ 5.58 ( -3.62% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">BITCOIN CASH <span> $ 427.37</span><span class="text-danger">-$ 15.98 ( -3.60% )</span></li>
                        <li class="list-inline-item small px-2 mb-0">ETHEREUM $ 1,647.87 <span class="text-danger">+$ 14.51 ( +0.89% )</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>