<app-navbar [navLight]="true" [navRight]="true"/>

<section class="bg-half-170 d-table w-100" style="background: url('assets/images/bg/blog02.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold page-heading text-white title-dark">Blog & News</h5>
                    <p class="text-white-50 para-desc mx-auto mb-0">Our Latest Blog and News in Image Grid Layouts with Sidebar</p>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="row g-4">
                    <div *ngFor="let item of blogData" class="col-lg-6">
                        <div class="card blog blog-image blog-primary shadow rounded overflow-hidden">
                            <div class="card-img">
                                <img [src]="item.image" class="img-fluid" alt="">
                                <div class="card-overlay"></div>

                                <div class="position-absolute top-0 start-0 mt-3 ms-4">
                                    <a [routerLink]="[]" class="badge text-bg-light">{{item.category}}</a>
                                </div>
                            </div>
                            <div class="content px-4">
                                <a [routerLink]="['/blog-detail-two', item.id]" class="h5 title d-block mb-0 text-white title-dark">{{item.title}}</a>

                                <div class="d-flex author align-items-center mt-2">
                                    <img [src]="item.client" class="avatar avatar-md-sm rounded-pill" alt="">
                                    <div class="ms-2">
                                        <small class="text-white-50 user d-block">{{item.name}}</small>
                                        <small class="text-white-50 date"> {{item.date}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" [routerLink]="[]" aria-label="Previous">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" [routerLink]="[]">1</a></li>
                            <li class="page-item"><a class="page-link active" [routerLink]="[]">2</a></li>
                            <li class="page-item"><a class="page-link" [routerLink]="[]">3</a></li>
                            <li class="page-item">
                                <a class="page-link" [routerLink]="[]" aria-label="Next">
                                    <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <app-blog-sidebar [search]="true"/>
            </div>
        </div>
    </div>
</section>

<app-footer-five/>
